// colors
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
);

$custom-colors: (
  "Primary-main": $Primary-main,
  "Primary-light": $Primary-light,
  "Secondary-main": $Secondary-main,
  "Secondary-light": $Secondary-light,
  "Secondary-dark": $Secondary-dark,
  "Background-main": $Background-main,
  "Background-S1": $Background-S1,
  "Background-S2": $Background-S2,
  "Gray-01": $Gray-01,
  "Gray-02": $Gray-02,
  "Gray-03": $Gray-03,
  "Gray-04": $Gray-04,
  "Gray-05": $Gray-05,
  "Gray-06": $Gray-06,
  "Gray-07": $Gray-07,
);

$custom-colors-table: (
  "Primary-main": shift-color($Primary-main, $table-bg-scale),
  "Primary-light": shift-color($Primary-light, $table-bg-scale),
  "Secondary-main": shift-color($Secondary-main, $table-bg-scale),
  "Secondary-light": shift-color($Secondary-light, $table-bg-scale),
  "Secondary-dark": shift-color($Secondary-dark, $table-bg-scale),
  "Background-main": shift-color($Background-main, $table-bg-scale),
  "Background-S1": shift-color($Background-S1, $table-bg-scale),
  "Background-S2": shift-color($Background-S2, $table-bg-scale),
  "Gray-01": shift-color($Gray-01, $table-bg-scale),
  "Gray-02": shift-color($Gray-02, $table-bg-scale),
  "Gray-03": shift-color($Gray-03, $table-bg-scale),
  "Gray-04": shift-color($Gray-04, $table-bg-scale),
  "Gray-05": shift-color($Gray-05, $table-bg-scale),
  "Gray-06": shift-color($Gray-06, $table-bg-scale),
  "Gray-07": shift-color($Gray-07, $table-bg-scale),
);
$theme-colors: map-merge($theme-colors, $custom-colors);
$table-variants: map-merge($table-variants, $custom-colors-table);

// fonts
$display-font-sizes: (
  1: $font-size-base * 2.5,
  2: $font-size-base * 2,
  3: $font-size-base * 1.75,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base
);

$custom-font-sizes: (
  7: $font-size-base * 0.875,
  // 14px
  8: $font-size-base * 0.75,
);
$font-sizes: map-merge($font-sizes, $custom-font-sizes);

// spacer = 1rem(16px), but it's easier to count if spacer = 4px
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  // 4
  2: $spacer * 0.5,
  // 8
  3: $spacer * 0.75,
  // 12
  4: $spacer,
  // 16
  5: $spacer * 1.25,
  // 20
  6: $spacer * 1.5,
  // 24
  7: $spacer * 1.75,
  // 28
  8: $spacer * 2,
  // 32
  9: $spacer * 2.25,
  // 36
  10: $spacer * 2.5,
  // 40
  105: $spacer * 2.625,
  // 42
  11: $spacer * 2.75,
  // 44
  12: $spacer * 3,
  // 48
  13: $spacer * 3.25,
  // 52
  14: $spacer * 3.5,
  // 56
  15: $spacer * 3.75,
  // 60
  16: $spacer * 4,
  // 64
  17: $spacer * 4.25,
  // 68
  18: $spacer * 4.5,
  // 72
  19: $spacer * 4.75,
  // 76
  20: $spacer * 5,
  // 80
  25: $spacer * 6.25,
  // 100
  30: $spacer * 7.5 // 120,
);

// letter spacing
$letter-spacings: (
    h: 0.05em,
    p: 0.03em,
    1: normal
);

// utitlity map pre defined
// this will be auto merged with BS's default $utitlities in _utilities.scss
$utilities: (
  "font-size": (
    rfs: false,
    responsive: true,
    property: font-size,
    class: fs,
    values: $font-sizes,
  ),
  "font-weight": (
    responsive: true,
    property: font-weight,
    class: fw,
    values: (
      lighter: $font-weight-lighter,
      light: $font-weight-light,
      normal: $font-weight-normal,
      medium: $font-weight-medium,
      semibold: $font-weight-semibold,
      bold: $font-weight-bold,
      bolder: $font-weight-bolder,
    ),
  ),
  "min-viewport-height": (
    property: min-height,
    class: min-vh,
    values: (
      100: 100vh,
      75: 75vh,
      50: 50vh,
      30: 30vh,
      25: 25vh
    )
  ),
  "width": (
    responsive: true,
    property: width,
    class: w,
    values: (
      10: 10%,
      25: 25%,
      30: 30%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
);
