// Custom colors
$Primary-main: #BD5A42;
$Primary-light: #ECD5B6;
$Secondary-main: #C57E7B;
$Secondary-light: #EDD7D5;
$Secondary-dark: #7F5351;

$Background-main: #FBF8F7;
$Background-section-1: #F1F0ED;
$Background-section-2: #F7EEEA;

$Gray-01: #2C2C2C;
$Gray-02: #727171;
$Gray-03: #979797;
$Gray-04: #D0D0D0;
$Gray-05: #EFEEEA;
$Gray-06: #FBF8F7;
$Gray-07: #FBFBFB;

$gray-100: $Gray-07;
$gray-200: $Gray-06;
$gray-300: $Gray-05;
$gray-400: $Gray-04;
$gray-500: $Gray-03;
$gray-600: $Gray-02;
$gray-700: $Gray-02;
$gray-800: $Gray-01;
$gray-900: $Gray-01;


// Overrides BS5 default colors
$primary:       $Primary-main;
$secondary:     $Secondary-main;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red; 
// $light:         $gray-100;
// $dark:          $gray-900;






