// Custom colors
$Primary-main: #BD5A42;
$Primary-light: #ECD5B6;
$Secondary-main: #C57E7B;
$Secondary-light: #EDD7D5;
$Secondary-dark: #7F5351;
$Background-main: #FBF8F7;
$Background-S1: #F1F0ED;
$Background-S2: #F7EEEA;
$Gray-01: #2C2C2C;
$Gray-02: #727171;
$Gray-03: #979797;
$Gray-04: #D0D0D0;
$Gray-05: #EFEEEA;
$Gray-06: #FBF8F7;
$Gray-07: #FBFBFB;

$gradient-01: #B94D2E;
$gradient-02: #EBC8A2;
$gradient-03: #AD8D57;

// Overrides BS5 default colors
$gray-100: $Gray-07;
$gray-200: $Gray-06;
$gray-300: $Gray-05;
$gray-400: $Gray-04;
$gray-500: $Gray-03;
$gray-600: $Gray-02;
$gray-700: $Gray-02;
$gray-800: $Gray-01;
$gray-900: $Gray-01;

$primary:       $Primary-main;
$secondary:     $Secondary-main; 
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red; 
// $light:         $gray-100;
// $dark:          $gray-900;
$body-color: #3D3D3D;
$body-bg: $Background-main;
$body-secondary-color:      #3D3D3D;
$body-secondary-bg:         $Background-S1;
$body-tertiary-color:       #3D3D3D;
$body-tertiary-bg:          $Background-S2;

// Font
$font-family-sans-serif: "Noto Sans TC", sans-serif;
$headings-font-family: "Noto Sans TC", sans-serif;
$display-font-family: "Cormorant Garamond", "Noto Sans TC", sans;
// $line-height-base: 1.2;
// $line-height-lg: 1.5;
$line-height-sm: 1.2;
$input-btn-line-height: $line-height-sm;

// border radius
$border-radius: 0;
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;
$card-border-width: 0;

// paddings
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 4.5rem;

// others
$enable-rfs:  false;

$btn-active-bg-shade-amount:      0%;
$btn-active-bg-tint-amount:       0%;
$btn-active-border-shade-amount:  0%;
$btn-active-border-tint-amount:   0%;