<footer class="footer pb-9 pb-md-10 pt-7 pt-md-12 bg-Secondary-light rounded-tr-30">
  <div class="footer__logo-area mb-9 mb-md-4">
    <div class="footer__logo m-auto ms-md-auto me-md-30"></div>
  </div>
  <div class="footer__content container-sm mb-9 mb-md-15">
    <div class="row">
      <ul class="footer__content-items list-unstyled d-flex flex-column flex-md-row col col-md-10 col-xl-8 mx-auto justify-content-between mb-0 text-center text-md-start">
      <li class="footer__content-item footer__about-us mb-6 mb-md-0">
        <p class="h6 fs-md-5 text-Gray-01 mb-4 mb-md-7 fw-normal fw-md-medium ls-h ls-md-p lh-base lh-md-sm">關於我們</p>
        <ul class="list-unstyled text-Gray-02">
          <li class="footer__list-item mb-2 mb-md-3 ls-h fs-7 fs-md-6"><a href="./about_b-hub.html">網站理念</a></li>
          <li class="footer__list-item mb-2 mb-md-3 ls-h fs-7 fs-md-6"><a href="./about_b-hub.html">常見問題</a></li>
          <li class="footer__list-item mb-2 mb-md-3 ls-h fs-7 fs-md-6"><a href="./about_b-hub.html">使用條款</a></li>
          <li class="footer__list-item ls-h fs-7 fs-md-6"><a href="./about_b-hub.html">隱私權政策</a></li>
        </ul>
      </li>
      <li class="footer__content-item footer__contact-us mb-6 mb-md-0">
        <p class="h6 fs-md-5 text-Gray-01 mb-4 mb-md-7 fw-normal fw-md-medium ls-h ls-md-p lh-base lh-md-sm">聯絡我們</p>
        <ul class="list-unstyled text-Gray-02">
          <li class="footer__list-item mb-2 mb-md-3"><a href="mailto:service@teamBeautyHub.com.tw" class="text-wrap text-break ls-h">service@teamBeautyHub.com.tw</a></li>
          <li class="footer__list-item ls-h">星期ㄧ - 星期五  9:30 - 18:00</li>
        </ul>
      </li>
      <li class="footer__content-item footer__follow-us">
        <p class="h6 fs-md-5 text-Gray-01 mb-4 mb-md-7 fw-normal fw-md-medium ls-h ls-md-p lh-base lh-md-sm">追蹤我們</p>
        <ul class="list-unstyled d-flex justify-content-center justify-content-md-between text-Gray-02">
          <li class="footer__list-item me-4 me-md-0"><a href=""><img src="../assets/image/fb-icon.png" alt="Facebook連結" class="footer__list-icon"></a></li>
          <li class="footer__list-item"><a href=""><img src="../assets/image/ig-icon.png" alt="Instagram連結" class="footer__list-icon"></a></li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
  <div class="footer__copyright container-md text-center text-Gray-03 fs-7">
    <p class="mb-1 mb-md-3 ls-md-h fs-8 fs-md-7">Copyright © 2023 BeautyHub LTD. All Rights Reserved.</p>
    <p class="mb-0 ls-md-h fs-8 fs-md-7">本網站僅供學習使用不作為商業用途</p>
  </div>
</footer>