<header>
    <div class="container-md py-2">
        <div class="row">
            <div class="d-flex justify-content-between">
                <a href="./index.html" class="header__logo"> </a>
                <div class="d-flex align-items-center">
                    <form action="" class="d-md-block d-none me-2 w__select-md">
                        <div class="input-group">
                            <select class="form-select form-select-sm p-0 py-1 border-0">
                                <option selected>品牌</option>
                                <option value="1">產品</option>
                                <option value="2">分類</option>
                            </select>
                            <input type="text"
                                class="form-control py-1 border-0 border-bottom border-primary w-25 rounded-0"
                                aria-label="Text input dropdown button">
                        </div>
                    </form>
                    <div class="d-md-block d-none">
                        <a href="member_login.html" class="d-flex align-items-center">
                            <p class="text-Gray-01 m-0 me-1 fw-medium lh-sm">註冊/登入</p>
                            <img src="../assets/image/group-icon.png" alt="icon-group" class="icon__group" />
                        </a>
                    </div>
                    <div class="d-flex align-items-center d-md-none">
                        <div class="d-flex align-items-center">
                            <form action="" class="d-md-block me-2 result__nav-icon w__select">
                                <div class="input-group search__input d-none">
                                    <select class=" form-select form-select-sm p-0 border-0">
                                        <option selected>品牌</option>
                                        <option value="1">產品</option>
                                        <option value="2">分類</option>
                                    </select>
                                    <input type="text"
                                        class="form-control py-1 border-0 border-bottom border-primary p-0"
                                        aria-label="Text input dropdown button">
                                </div>
                            </form>
                            <a href="#" class="me-3 p-2 click__search-icon">
                                <img src="../assets/image/search-icon.png" alt="icon-search"
                                    class="icon__search result__nav-icon" />
                            </a>
                        </div>
                        <nav class="navbar d-md-none d-md-block">
                            <a href="#nav" class="navbar-toggler justify-content-end p-2 border-0 click__nav-icon"
                                type="button" data-bs-toggle="collapse" aria-controls="nav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <div class="nav__link"></div>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav me-auto   vh-100">
                    <li class="nav-item border-bottom border-Gray-04">
                        <a class="nav-link py-5 px-3 text-center nav__list_sm fw-medium lh-sm" aria-current="page"
                            href="./index.html">首頁</a>
                    </li>
                    <li class="nav-item border-bottom border-Gray-04">
                        <a class="nav-link py-5 px-3 text-center nav__list_sm fw-medium lh-sm" aria-current="page"
                            href="category_top_ranking.html">熱門排行</a>
                    </li>
                    <li class="nav-item border-bottom border-Gray-04">
                        <a class="nav-link py-5 px-3 text-center nav__list_sm fw-medium lh-sm" aria-current="page"
                            href="#">關於我們</a>
                    </li>
                    <li class="nav-item border-bottom border-Gray-04">
                        <a class="nav-link py-5 px-3 text-center nav__list_sm fw-medium lh-sm" aria-current="page"
                            href="member_login.html">登入/註冊</a>
                    </li>
                    <li class="nav-item border-bottom border-Gray-04">
                        <a class="nav-link py-5 px-3 text-center nav__list_sm fw-medium lh-sm" aria-current="page"
                            href="#">通知</a>
                    </li>
                </ul>
            </div>
            <ul class="d-md-flex justify-content-md-center list-unstyled d-none d-md-block mb-0">
                <li class="me-3">
                    <a class="py-3 px-6 d-md-block nav__list fw-medium lh-sm <%= page === 'index' ? 'text-primary border-bottom border-2 border-primary  bg-Gray-07' : 'text-Gray-01' %>"
                        href="./index.html"> 首頁 </a>
                </li>
                <li class="me-3">
                    <a class="py-3 px-6 d-md-block nav__list fw-medium lh-sm <%= page === 'category_top_ranking' ? 'text-primary border-bottom border-2 border-primary  bg-Gray-07' : 'text-Gray-01' %>"
                        href="category_top_ranking.html">熱門排行</a>
                </li>
                <li>
                    <a class="py-3 px-6 d-md-block nav__list fw-medium lh-sm <%= page === 'ooo' ? 'text-primary border-bottom border-2 border-primary  bg-Gray-07' : 'text-Gray-01' %>"
                        href="#">關於我們</a>
                </li>
            </ul>
        </div>
    </div>
</header>