<header>
  <div class="container-md py-2">
    <div class="row">
      <div class="d-flex justify-content-between">
        <a href="./index.html" class="header__logo"> </a>
        <div class="d-flex align-items-center">
          <div class="d-md-block d-none">
            <a href="member_login.html" class="d-flex align-items-center">
              <p class="text-Gray-01 m-0 me-1">註冊/登入</p>
              <img
                src="../assets/image/group-icon.png"
                alt="icon-group"
                class="icon__group"
              />
            </a>
          </div>
          <div class="d-flex align-items-center d-md-none">
            <div class="d-flex align-items-center">
              <!-- 還在研究旁邊的輸入框框要怎麼點擊icon__search出現 -->
              <!-- <form>
                <input
                  type="text"
                  class="form-control form-control-sm border-top-0 border-start-0 border-end-0 result__nav-icon search__input d-none"
                />
              </form> -->
              <a href="#" class="me-3 p-2 click__search-icon">
                <img
                  src="../assets/image/search-icon.png"
                  alt="icon-search"
                  class="icon__search result__nav-icon"
                />
              </a>
            </div>
            <nav class="navbar d-md-none d-md-block">
              <a
                href="#nav"
                class="navbar-toggler justify-content-end p-2 border-0 click__nav-icon"
                type="button"
                data-bs-toggle="collapse"
                aria-controls="nav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <div class="nav__link"></div>
              </a>
            </nav>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav me-auto   vh-100">
          <li class="nav-item border-bottom border-Gray-04">
            <a
              class="nav-link py-5 px-3 text-center nav__list_sm "
              aria-current="page"
              href="./index.html"
              >首頁</a
            >
          </li>
          <li class="nav-item border-bottom border-Gray-04">
            <a
              class="nav-link py-5 px-3 text-center nav__list_sm "
              aria-current="page"
              href="category_top_ranking.html"
              >熱門排行</a
            >
          </li>
          <li class="nav-item border-bottom border-Gray-04">
            <a
              class="nav-link py-5 px-3 text-center nav__list_sm "
              aria-current="page"
              href="#"
              >關於我們</a
            >
          </li>
          <li class="nav-item border-bottom border-Gray-04">
            <a
              class="nav-link py-5 px-3 text-center nav__list_sm"
              aria-current="page"
              href="member_login.html"
              >登入/註冊</a
            >
          </li>
          <li class="nav-item border-bottom border-Gray-04">
            <a
              class="nav-link py-5 px-3 text-center nav__list_sm"
              aria-current="page"
              href="#"
              >通知</a
            >
          </li>
        </ul>
      </div>
      <ul
        class="d-md-flex justify-content-md-center list-unstyled d-none d-md-block mb-0"
      >
        <li class="me-3">
          <a class="py-3 px-6 d-md-block <%= page === 'index' ? 'text-primary border-bottom border-2 border-primary nav__list--bottom' : 'text-Gray-01' %>" href="./index.html"> 首頁 </a>
        </li>
        <li class="me-3">
          <a class="py-3 px-6 d-md-block <%= page === 'category_top_ranking' ? 'text-primary border-bottom border-2 border-primary nav__list--bottom' : 'text-Gray-01' %>" href="category_top_ranking.html">熱門排行</a>
        </li>
        <li>
          <a class="py-3 px-6 d-md-block <%= page === 'ooo' ? 'text-primary border-bottom border-2 border-primary nav__list--bottom' : 'text-Gray-01' %>" href="#">關於我們</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<script>
  $(".click__nav-icon").click(function () {
    $(".result__nav-icon").slideToggle();
  });
  // 還在研究的部分
  // $(".icon__search").click(function () {
  //   $(".search__input").toggleclass(".show");
  // });
</script>