<div class="modal fade" id="loginAlertModal" tabindex="-1" aria-labelledby="loginAlertModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h1 class="modal-title fs-5">Modal title</h1> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center mb-4 mb-md-8">請登入會員以使用完整功能</p>
        <div class="text-center d-flex flex-column flex-md-row justify-content-between">
          <a class="btn btn-outline-primary mb-2 mb-md-0">現在註冊</a><a class="btn btn-primary">立刻登入</a>
        </div>
      </div>
    </div>
  </div>
</div>