.breadcrumb-item {
  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }
}
.breadcrumb-item:not(.active) {
  &:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: $primary;
  }
}