// btn-### overrides
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @if $color == "light" {
      @include button-variant-custom(
        $value,
        $value,
        $hover-background: shade-color($value, $btn-hover-bg-shade-amount),
        $hover-border: shade-color($value, $btn-hover-border-shade-amount),
        $active-background: shade-color($value, $btn-active-bg-shade-amount),
        $active-border: shade-color($value, $btn-active-border-shade-amount)
      );
    } @else if $color == "dark" {
      @include button-variant-custom(
        $value,
        $value,
        $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
        $hover-border: tint-color($value, $btn-hover-border-tint-amount),
        $active-background: tint-color($value, $btn-active-bg-tint-amount),
        $active-border: tint-color($value, $btn-active-border-tint-amount)
      );
    } @else {
      @include button-variant-custom($value, $value);
    }
  }
}

// btn-outline-### overrides
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant-custom($value);
  }
}

// custom btn styles
.btn-icon {
  @include button-size-icon();
}

.btn-short {
  padding-right: 2.25rem !important;
  padding-left: 2.25rem !important;
}

// btn-primary override
.btn-outline-primary {
  @include button-outline-variant-custom($primary, $Secondary-dark, $Secondary-main, $Secondary-main, $Gray-05);
}

.btn-primary {
  @include button-variant(
    $primary,
    $primary,
    $Gray-05,
    $Secondary-dark,
    $Secondary-dark,
    $Gray-05,
    $Secondary-main,
    $Secondary-main,
    $Gray-05
  )
}
