footer {
  border-top-right-radius: 120px;
}

.footer__logo {
  background-size: contain;
  background-image: url("../assets/image/Logo-sm.png");
  width: 85px;
  height: 36px;

  @include media-breakpoint-up(md) {
    background-image: url("../assets/image/Logo.png");
    width: 134px;
    height: 56px;
  }
}

.footer__list-item a {
  &:hover {
  color: $primary;
  }
}

.footer__list-icon {
  width: 20px;
  @include media-breakpoint-up(md) {
    width: 32px;
  }
}