.profile__content,
.terms__content,
.privacy__content {
  text-align: justify;
}

.about__us__btn {
  --bs-nav-link-padding-x: 10px;
  --bs-nav-link-padding-y: 8px;
  word-wrap: keep-all;
  white-space: nowrap;
}

.faq__area {
  .faq__item {
    border-bottom: 1px solid $Gray-04;

    button[aria-expanded='true'] {
      border-bottom: 1px solid $Secondary-main;
    }
  }

  button {
    position: relative;
    background: none;
    outline: none;
    border: none;
    color: $Gray-02;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $Secondary-main;

      &::after {
        cursor: pointer;
        border: 1px solid $Secondary-main;
      }
    }

    .icon {
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;

      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }

      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }

  button[aria-expanded='true'] {
    color: $Secondary-main;

    .icon {
      &::after {
        width: 0;
      }
    }

    +.faq__content {
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }

  .faq__content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
}

.about__us__btn__area {

  @media(max-width:375px) {
    width: 100%;
    flex-wrap: wrap;
    gap: 0;

    .about__us__btn {
      width: 50%;
    }
  }
}