.card__item__img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: all 1.2s;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.beauty__awards__title,
.beauty__awards__year,
.brand__name {
  font-family: $display-font-family;
}

.brand__name {
  color: $gradient-02;
}

.beauty__awards__title__img {
  width: 80px;
  height: 33px;

  @media (max-width:576px) {
    width: 50px;
    height: 23px;
  }
}