.user__icon {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.my__dress__table__item--block {
    max-width: 217px;
    min-height: 174px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        max-width: 376px;
        max-height: 341px;
    }
}

.my__dress__table__item--img {
    max-width: 217px;
    min-height: 174px;
    object-fit: cover;
    transition: all 1.2s;

    @include media-breakpoint-up(md) {
        max-width: 376px;
        max-height: 341px;
    }

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

.swiper-button-prev-CareProducts-d,
.swiper-button-next-CareProducts-d,
.swiper-button-prev-Cosmetic-d,
.swiper-button-next-Cosmetic-d {
    @media (max-width:1300px) {
        display: none;
    }

    @media (max-width:1199px) {
        display: block;
    }

    @media (max-width:1119px) {
        display: none;
    }

    @media (max-width:992px) {
        display: block;
    }

    @media (max-width:882px) {
        display: none;
    }

    @media (max-width:767px) {
        display: none;
    }
}



// .swiper-button-next,
// .swiper-button-prev {
//     position: initial;
//     width: auto;
//     height: auto;

//     &::after {
//         content: '';
//     }
// }
// .swiper-slide-test {
//     height: calc((100% - 30px) / 2) !important;
//     display: flex;
//     gap: 24px;
// }