.user__icon {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.my__dress__table__item--block {
    max-width: 217px;
    min-height: 174px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        max-width: 376px;
        max-height: 341px;
    }
}

.my__dress__table__item--img {
    max-width: 217px;
    min-height: 174px;
    object-fit: cover;
    transition: all 1.2s;

    @include media-breakpoint-up(md) {
        max-width: 376px;
        max-height: 341px;
    }

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

// .swiper-button-next,
// .swiper-button-prev {
//     position: initial;
//     width: auto;
//     height: auto;

//     &::after {
//         content: '';
//     }
// }