$editor-min-height: 40vh;

/* prodcut-intro */
.prodcut-intro__logo-wrap {
  aspect-ratio: 1;
  max-width: 100%;
}

.prodcut-intro__logo-img {
  width: 100%;
  aspect-ratio: 1;
}

.prodcut-intro__tag-list {
  gap: 8px 4px;
}

.product_detail .nav-item .active {
  border-color: $Secondary-dark !important;
}

/* product-intro tab */
.product-intro-img {
  width: 100%;
  display: block;
}

/* chemical list */
.chemical-list-numbered {
  list-style-type: none;
  counter-reset: section;

  > .chemical-list__item:not(.chemical-list__head)::before {
    // Increments only this instance of the section counter
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 24px;
    line-height: 1.2;
    vertical-align: top;
    content: counters(section, ".") ". ";
    font-family: $display-font-family;
    counter-increment: section;
    @include media-breakpoint-up(sm) {
      content: '';
    }
  }
}

.chemical-list__head > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.chemical-list__item:not(.chemical-list__head) {
  padding-top: 36.8px;
  border-bottom: 1px solid $Gray-04;
  &:hover {
    background-color: $Background-S2;
  }
  @include media-breakpoint-up(sm) {
    padding-top: 0.5rem;
  }
}

.chemical-list__wrap-content {
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: calc(100% / 3);
  }
}
.chemical-list__link-out .bi {
  @include media-breakpoint-up(md) {
    vertical-align: baseline !important;
  }
}

/* review & comments */
.review-card__avatar {
  aspect-ratio: 1;
  object-position: center;
  @include media-breakpoint-up(md){
    max-width: 100px;
  }
}

.review-card__body-content {
  max-height: 1.5rem * 5;
  > *:last-child {
    margin-bottom: 0;
  }

}

.review-card__comment {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.review-card__comment-avartar {
  object-position: center;
  aspect-ratio: 1;
  width: 30px;
  @include media-breakpoint-up(md) {
    width: 50px;
  }
}

.review-card.hidden{
  display: none !important;
}

.review-card {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 2rem;
  }
  &:not(.active) {
    .review-card__body-content > * {
      margin-bottom: 0 !important;
      font-size: 1rem !important;
      line-height: 1.5rem !important;
      font-weight: normal !important;
    }
  }
  &.active {
    .review-card__user {
      justify-content: flex-start !important;
      
    }
    .review-card__user-expand {
      @include media-breakpoint-up(md) {
        display: block !important;
      }
    }
    .review-card__expand-wrap {
      display: flex !important;
      align-items: center;
    }
    .review-card__review-area {
      flex-grow: 1;
    }
    .review-card__body-content {
      max-height: initial;
    }
  }
}

.review-card__comment-area-title {
  display: none;
  &.active {
    display: block;
  }
  @include media-breakpoint-up(md) {
    &, &.active {
      display: none;
    }
  } 
}

.review-card__content-img {
  width: 300px;
  display: none;
  &.active {
    display: inline;
  }
}

.review-card__badge-heart, .review-card__badge-bookmark {
  &:before {
    vertical-align: middle;
    line-height: 1.5;
  }
}

.review__pagination.hidden {
  display: none;
}

/* new review */

.scrolling-container {
  min-height: $editor-min-height;
}
.editor {
  min-height: $editor-min-height;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 8px;
  @include media-breakpoint-up(md) {
    margin-right: 16px;
  }
}

.ql-editor {
  min-height: $editor-min-height;
}

.review-submit {
  @include media-breakpoint-up(sm) {
    width: initial !important;
  }
}