<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BeautyHub Beauty Awards 2023</title>
</head>

<body>
  <%- include('./layout/header.ejs',{page: "beauty_awards" }); -%>
    <div class="container-md py-md-4 py-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
          <li class="breadcrumb-item active" aria-current="page">Beauty Awards 2023</li>
        </ol>
      </nav>
      <div class="d-flex flex-column justify-content-between align-items-center text-center">
        <img src="../assets/image/beauty-awards/2023SS.png" alt="" class="beauty__awards__title__img justify-content-center">
      <h2
        class="beauty__awards__title fs-lg-1 fs-md-2 fs-4 mb-0">
        BEAUTY AWARDS
      </h2>
      <p class="beauty__awards__year border-bottom border-2 border-Gray-03 px-md-12 px-8 fs-md-2 fs-sm-3">2023SS</p>
      <p class="beauty__awards__subtitle mb-md-4 mb-3 fw-light fs-md-6 fs-7">THE WINNER OF BEAUTY AWARDS SS 2023</p>
    </div>

      <div class="row pt-md-4 pt-3">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3 position-relative">
            <img src="../assets/image/beauty-awards/beauty-awards-1.png" alt="prize-1" class="card__item__img mb-2">
            <div class="product-card__label position-absolute top-0 start-0 display-4 mb-0 p-3 bg-Gray-05 fw-bold text-center">01</div>
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">Guerlain</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02 fs-md-6 fs-7">皇家蜂王乳雙導精華</p>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3 position-relative">
            <img src="../assets/image/beauty-awards/beauty-awards-2.png" alt="prize-2" class="card__item__img mb-2">
            <div class="product-card__label position-absolute top-0 start-0 display-4 mb-0 p-3 bg-Gray-05 fw-bold text-center">02</div>
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">Dior</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02 fs-md-6 fs-7">超完美持久柔光粉底液</p>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3 position-relative">
            <img src="../assets/image/beauty-awards/beauty-awards-3.png" alt="prize-3" class="card__item__img mb-2">
            <div class="product-card__label position-absolute top-0 start-0 display-4 mb-0 p-3 bg-Gray-05 fw-bold text-center">03</div>
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">La Mer</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02 fs-md-6 fs-7">超能修護精華露</p>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3">
            <img src="../assets/image/beauty-awards/beauty-awards-4.png" alt="prize-4" class="card__item__img mb-2">
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">Clé de Peau Beauté</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02 fs-md-6 fs-7">塑妍逆引鑽白菁萃</p>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3">
            <img src="../assets/image/beauty-awards/beauty-awards-5.png" alt="prize-5" class="card__item__img mb-2">
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">Clarins</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02  fs-md-6 fs-7">氧氣亮白淡斑精華</p>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3">
            <img src="../assets/image/beauty-awards/beauty-awards-6.png" alt="" class="card__item__img mb-2">
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">Sisley</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02  fs-md-6 fs-7">植物酵素極淨拋光面膜</p>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3">
            <img src="../assets/image/beauty-awards/beauty-awards-7.png" alt="" class="card__item__img mb-2">
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">Clarins</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02  fs-md-6 fs-7">芳香調和身體乳</p>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3">
            <img src="../assets/image/beauty-awards/beauty-awards-8.png" alt="" class="card__item__img mb-2">
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">Lancôme</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02  fs-md-6 fs-7">超緊顏抗痕亮采三效精華</p>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3">
            <img src="../assets/image/beauty-awards/beauty-awards-9.png" alt="" class="card__item__img mb-2">
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">GARANCIA</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02  fs-md-6 fs-7">LA POUDRE MAGIQUE
              ÉCLAT & JEUNESSE</p>
          </a>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3">
            <img src="../assets/image/beauty-awards/beauty-awards-10.png" alt="" class="card__item__img mb-2">
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">Chanel</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02  fs-md-6 fs-7">1號紅色山茶花活能精萃</p>
          </a>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3">
            <img src="../assets/image/beauty-awards/beauty-awards-11.png" alt="" class="card__item__img mb-2">
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">Kiehl's</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02  fs-md-6 fs-7">A醇全能新生抗痕精華</p>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-md-8 mb-4 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1 p-md-4 p-3">
            <img src="../assets/image/beauty-awards/beauty-awards-12.png" alt="" class="card__item__img mb-2">
            <h3 class="brand__name mb-2 fs-lg-4 fs-5">Clé de Peau Beauté</h3>
            <p class="lh-base mb-0 text-justify flex-grow-1 text-Gray-01 link-Gray-02  fs-md-6 fs-7">精質光采粉底乳霜</p>
          </a>
        </div>

      </div>
    </div>

    <%- include('./layout/footer.ejs'); -%>
      <%- include('./layout/header_search_jq.ejs'); -%>
        <script type="module" src="../main.js"></script>
</body>

</html>