<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BeautyHub Beauty Awards 2023</title>
  <%- include('./layout/seo-favicon.ejs'); -%>
</head>

<body>
  <%- include('./layout/header.ejs',{page: "beauty_awards" }); -%>
    <div class="container-md py-md-4 py-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
          <li class="breadcrumb-item active" aria-current="page">Beauty Awards 2023</li>
        </ol>
      </nav>
      <div class="d-flex flex-column justify-content-between align-items-center text-center mb-md-6 mb-4">
        <img src="../assets/image/beauty-awards/2023SS.png" alt=""
          class="beauty__awards__title__img justify-content-center mb-md-2 mb-1">
        <h2 class="beauty__awards__title fs-lg-1 fs-md-2 fs-4 mb-0">
          BEAUTY AWARDS
        </h2>
        <p class="beauty__awards__year border-bottom border-2 border-Gray-03 px-md-12 px-8 fs-md-2 fs-sm-3">2023SS</p>
        <p class="beauty__awards__subtitle mb-md-4 mb-3 fw-light fs-md-6 fs-7">THE WINNER OF BEAUTY AWARDS SS 2023</p>
      </div>

      <div class="row mb-105 mb-md-2 position-relative">
        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-1.png" alt="prize-1" class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">皇家蜂王乳雙導精華</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">Guerlain</span>
                </div>
                <div
                  class="product-card__label position-absolute top-0 start-0 display-4 mb-0 p-3 bg-Gray-05 fw-bold text-center">
                  01</div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-2.png" alt="prize-2" class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">超完美持久柔光粉底液</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">Dior</span>
                </div>
                <div
                  class="product-card__label position-absolute top-0 start-0 display-4 mb-0 p-3 bg-Gray-05 fw-bold text-center">
                  02</div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-3.png" alt="prize-3" class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">超能修護精華露</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">La
                    Mer</span>
                </div>
                <div
                  class="product-card__label position-absolute top-0 start-0 display-4 mb-0 p-3 bg-Gray-05 fw-bold text-center">
                  03</div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-4.png" alt="prize-4" class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">塑妍逆引鑽白菁萃</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">Clé
                    de Peau Beauté</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-5.png" alt="prize-5" class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">氧氣亮白淡斑精華</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">Clarins</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-6.png" alt="prize-6" class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">植物酵素極淨拋光面膜</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">Sisley</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-7.png" alt="prize-7" class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">芳香調和身體乳</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">Clarins</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-8.png" alt="prize-8" class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">緊顏抗痕亮采三效精華</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">Lancôme</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-9.png" alt="prize-9" class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">LA POUDRE MAGIQUE</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">GARANCIA</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-10.png" alt="prize-10"
                    class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">1號紅色山茶花活能精萃</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">GARANCIA</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-11.png" alt="prize-11"
                    class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">A醇全能新生抗痕精華</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">Kiehl's</span>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="text-center m-auto col-lg-4 col-md-6 col-sm-12">
          <div class="beauty__awards__card-area mx-0 pb-md-7 mb-md-0 mb-4">
            <div class="card">
              <a class="bg-white text-center p-5 position-relative h-100" href="#">
                <div class="mb-4">
                  <img src="../assets/image/beauty-awards/beauty-awards-12.png" alt="prize-12"
                    class="product-card__img">
                </div>
                <div class="card-body product-card__body p-0 d-flex flex-column align-items-center">
                  <h5 class="card-title product-card__name fs-md-5 fs-6 mb-4">精質光采粉底乳霜</h5>
                  <span
                    class="card-text product-brand__name rounded-pill mb-0 d-inline-block text-primary fs-7 fs-md-6 bg-Background-S2 py-2 px-6">Clé
                    de Peau Beauté</span>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

    <%- include('./layout/footer.ejs'); -%>
      <%- include('./layout/header_search_jq.ejs'); -%>
        <script type="module" src="../main.js"></script>
</body>

</html>