<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BeautyHub 熱門排行</title>
</head>

<body>
  <%- include('./layout/header-other.ejs',{page:"category_top_ranking"}); -%>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item fs-md-6 fs-8"><a href="index.html">首頁</a></li>
          <li class="breadcrumb-item fs-md-6 fs-8 active" aria-current="page">熱門排行</li>
        </ol>
        <h1
          class=" text-md-center text-start test-Gray-01 py-md-12 py-6 ff-cg fs-md-3 fs-5 m-0 fw-semibold fw-md-bold lh-sm">
          熱門排行
        </h1>
        <div class="d-flex justify-content-center mb-3">
          <span
            class="text-center text-Gray-02 py-4 px-6 d-line-block border-bottom border-2 border-primary ff-nst fw-medium lh-sm w-152">保養品</span>
        </div>
      </nav>
      <ul class="list-unstyled mb-4">
        <li class="mb-4 text-Gray-01">
          <a href="#">
            <div class="card position-relative p-5 col-12 bg-white">
              <div
                class="card-header topRanking__lable z-1 fs-4 fw-bold p-3 lh-sm text-center bg-Gray-05 position-absolute top-0 start-0 ff-cg ">
                01</div>
              <div
                class="card-body d-flex flex-md-row flex-column align-items-md-start align-items-center text-md-start text-center topRanking__item--bg-01">
                <div class="topRanking__item--block me-md-4 me-0 mb-md-0 mb-4">
                  <img src="../assets/image/hot-img-01.jpg" class="topRanking__item--img" alt="FOR
                  BELOVED ONE 黃金藍銅玻尿酸保濕化妝水">
                </div>
                <div class="card-title">
                  <h2 class="ff-nst fs-md-5 fs-6 fw-medium mb-4">黃金藍銅玻尿酸保濕化妝水</h2>
                  <span
                    class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">For
                    Beloved One</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="mb-4 text-Gray-01">
          <a href="#">
            <div class="card position-relative p-5 col-12 bg-white">
              <div
                class="card-header topRanking__lable z-1 fs-4 fw-bold p-3 lh-sm text-center bg-Gray-05 position-absolute top-0 end-0 ff-cg fw-bolder">
                02</div>
              <div
                class="card-body d-flex flex-md-row-reverse flex-column align-items-md-start align-items-center text-md-start text-center topRanking__item--bg-02">
                <div class="topRanking__item--block ms-md-4 ms-0 mb-md-0 mb-4">
                  <img src="../assets/image/hot-img-02.jpg" class="topRanking__item--img" alt="L'Oréal
                  Paris 金致臻顏花蜜奢養精華露">
                </div>
                <div class="card-title">
                  <h2 class="ff-nst fs-md-5 fs-6 fw-medium mb-4">金致臻顏花蜜奢養精華露</h2>
                  <span
                    class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">L'Oréal
                    Paris</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="mb-4 text-Gray-01">
          <a href="#">
            <div class="card position-relative p-5 col-12 bg-white">
              <div
                class="card-header topRanking__lable z-1 fs-4 fw-bold p-3 lh-sm text-center bg-Gray-05 position-absolute top-0 start-0 ff-cg fw-bolder">
                03</div>
              <div
                class="card-body d-flex flex-md-row flex-column align-items-md-start align-items-center text-md-start text-center topRanking__item--bg-03">
                <div class="topRanking__item--block me-md-4 me-0 mb-md-0 mb-4">
                  <img src="../assets/image/hot-img-03.jpg" class="topRanking__item--img" alt="Hada-Labo
                  肌研 極潤多效精華水感凝露">
                </div>
                <div class="card-title">
                  <h2 class="ff-nst fs-md-5 fs-6 fw-medium mb-4">極潤多效精華水感凝露</h2>
                  <span
                    class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">Hada-Labo
                    肌研</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="mb-4 text-Gray-01">
          <a href="#">
            <div class="card position-relative p-5 col-12 bg-white">
              <div
                class="card-header topRanking__lable z-1 fs-4 fw-bold p-3 lh-sm text-center bg-Gray-05  position-absolute top-0 end-0 ff-cg fw-bolder">
                04</div>
              <div
                class="card-body d-flex flex-md-row-reverse flex-column align-items-md-start align-items-center text-md-start text-center topRanking__item--bg-04">
                <div class="topRanking__item--block ms-md-4 ms-0 mb-md-0 mb-4">
                  <img src="../assets/image/hot-img-04.jpg" class="topRanking__item--img"
                    alt="DermaAngel護妍天使 益菌生保濕調理精華水">
                </div>
                <div class="card-title">
                  <h2 class="ff-nst fs-md-5 fs-6 fw-medium mb-4">益菌生保濕調理精華水</h2>
                  <span
                    class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">DermaAngel護妍天使</span>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div class="row grid gy-4 mb-md-30 mb-105">
        <div class="col-lg-4 col-md-6 col-12 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1">
            <div
              class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
              <div class="topRanking__item--block">
                <img src="../assets/image/hot-img-05.png" class="topRanking__item--img" alt="Forest Beauty 森果紅石榴多酚凍齡精華">
              </div>
              <div class="card-body text-center">
                <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">森果紅石榴多酚凍齡精華</h2>
                <span
                  class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                  Forest Beauty
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1">
            <div
              class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
              <div class="topRanking__item--block">
                <img src="../assets/image/hot-img-06.jpg" class="topRanking__item--img" alt="Forest Beauty 森果紅石榴多酚凍齡精華">
              </div>
              <div class="card-body text-center d-flex flex-column">
                <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4 ">舒敏保濕化妝水</h2>
                <span
                  class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                  Paula's Choice
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1">
            <div
              class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
              <div class="topRanking__item--block">
                <img src="../assets/image/hot-img-07.jpg" class="topRanking__item--img" alt="Forest Beauty 森果紅石榴多酚凍齡精華">
              </div>
              <div class="card-body text-center">
                <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">秘之湧天堂之泉ALLDAY SPA</h2>
                <span
                  class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                  Oguma水美媒
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1">
            <div
              class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
              <div class="topRanking__item--block">
                <img src="../assets/image/hot-img-08.jpg" class="topRanking__item--img" alt="Forest Beauty 森果紅石榴多酚凍齡精華">
              </div>
              <div class="card-body text-center">
                <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">芯生悠賦活化妝水</h2>
                <span
                  class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                  Orbis
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1">
            <div
              class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
              <div class="topRanking__item--block">
                <img src="../assets/image/hot-img-09.jpeg" class="topRanking__item--img"
                  alt="Forest Beauty 森果紅石榴多酚凍齡精華">
              </div>
              <div class="card-body text-center">
                <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">超級精華 黃金雙激萃</h2>
                <span
                  class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                  Clarins 克蘭詩
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 d-flex flex-column">
          <a href="#" class="d-flex flex-column flex-grow-1">
            <div
              class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
              <div class="topRanking__item--block">
                <img src="../assets/image/hot-img-10.webp" class="topRanking__item--img"
                  alt="Forest Beauty 森果紅石榴多酚凍齡精華">
              </div>
              <div class="card-body text-center">
                <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">B5彈潤修復精華</h2>
                <span
                  class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                  La Roche-Posay
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <%- include('./layout/footer.ejs'); -%>
      <%- include('./layout/header_search_jq.ejs'); -%>
        <script type="module" src="../main.js"></script>
</body>

</html>