<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <title>footer test</title>
  </head>
  <body>
    <%- include('./layout/header.ejs',{page:"index"}); -%>
    <hr class="py-5" />
    <%- include('./layout/footer.ejs'); -%>
    <script type="module" src="../main.js"></script>
    <script>
      $(".click__nav-icon").click(function () {
        $(".result__nav-icon").slideToggle();
      });
      // 還在研究的部分
      // $(".icon__search").click(function () {
      //   $(".search__input").toggleclass(".show");
      // });
    </script>
  </body>
</html>
