<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/seo-favicon.ejs'); -%>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <title>footer test</title>
  </head>
  <body>
    <%- include('./layout/header.ejs',{page:"index"}); -%>
    <hr class="py-5" />
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style-1">
              <li class="breadcrumb-item"><a href="#">首頁</a></li>
              <li class="breadcrumb-item"><a href="#">品牌</a></li>
              <li class="breadcrumb-item active" aria-current="page">heme</li>
            </ol>
          </nav>
        </div>
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style-2">
              <li class="breadcrumb-item"><a href="#">首頁</a></li>
              <li class="breadcrumb-item"><a href="#">品牌</a></li>
              <li class="breadcrumb-item active" aria-current="page">heme</li>
            </ol>
          </nav>
        </div>
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style-3">
              <li class="breadcrumb-item"><a href="#">首頁</a></li>
              <li class="breadcrumb-item"><a href="#">品牌</a></li>
              <li class="breadcrumb-item active" aria-current="page">heme</li>
            </ol>
          </nav>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-left-fill"></i></a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-right-fill"></i></a></li>
        </ul>
      </nav>
    </div>
    <%- include('./layout/footer.ejs'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
