<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BeautyHub Hot Issue</title>
  <%- include('./layout/seo-favicon.ejs'); -%>
</head>

<body>
  <%- include('./layout/header.ejs',{page: "hot_issue" }); -%>

    <div class="container-md py-md-4 py-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
          <li class="breadcrumb-item active" aria-current="page">Hot Issue</li>
        </ol>
      </nav>

      <div
        class="d-flex flex-column justify-content-between align-items-center text-center mb-md-6 mb-4">
        <h2 class="hot__issue__title fs-lg-1 fs-md-2 fs-4 px-md-12 px-8 mb-0">
          Hot Issue
        </h2>
      </div>

      <div class="hot__issue__area row gy-5 gy-md-0 mb-md-0 mb-4">

        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_01.html">
            <img src="../assets/image/hot-issue/hot-issue-1.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">清透感光澤底妝技巧！8招打造「無粉感媽生好皮」，底妝無粉感卻光滑通透、膨潤減齡...</h3>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_02.html">
            <img src="../assets/image/hot-issue/hot-issue-2.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img ">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">扁平臉修飾關鍵！高允貞、Jennie高光打亮技巧必學，五官精緻立體、肉餅臉瘦一圈...</h3>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_01.html">
            <img src="../assets/image/hot-issue/hot-issue-3.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img ">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">韓星都在畫！韓系微笑唇畫法教學，嘴角微笑線超自然，唇妝絕美乾淨、更減齡顯嫩...</h3>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_02.html">
            <img src="../assets/image/hot-issue/hot-issue-4.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img ">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">眉毛怎麼畫都怪？4方法找到適合的眉型！掌握關鍵1/2，眉毛畫對顯臉小、五官精緻...</h3>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_01.html">
            <img src="../assets/image/hot-issue/hot-issue-5.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img ">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">2023韓國燙髮推薦！鬆弛感髮型範本，Paper Perm、Sand Perm隨性自然，這款顯瘦又減齡...</h3>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_02.html">
            <img src="../assets/image/hot-issue/hot-issue-6.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img ">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">臉下垂、鬆垮怎麼辦？避開7大地雷，秒年輕5歲、超緊輪廓線回歸，加碼2023緊緻精華推薦...</h3>
            </div>
          </a>
        </div>


        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_01.html">
            <img src="../assets/image/hot-issue/hot-issue-7.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img ">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">韓系肉感唇畫法必學！暗沉唇、薄唇調整唇形是關鍵，微笑唇形飽滿豐盈、更減齡顯嫩...</h3>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_02.html">
            <img src="../assets/image/hot-issue/hot-issue-8.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img ">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">2023護手霜推薦！保濕有感又不黏手、可立刻滑手機，這款被譽為汗皰疹救星！...</h3>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_01.html">
            <img src="../assets/image/hot-issue/hot-issue-9.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img ">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">10分鐘完妝！韓星化妝師親授通勤妝教學，底妝&眼妝快速畫法，妝容精緻乾淨、還顯嫩...</h3>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_02.html">
            <img src="../assets/image/hot-issue/hot-issue-10.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img ">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">IVE張員瑛竟是「香菜派」！香菜不只能減重、改善金魚腦，還有這4大「隱藏益處」...</h3>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_01.html">
            <img src="../assets/image/hot-issue/hot-issue-11.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img ">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">鬆弛感眼妝怎麼畫？超簡單深淺眼影畫法，眼妝更乾淨細緻、自然凸顯絕美輪廓感...</h3>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-md-7">
          <a class="hot__issue__card-link card d-flex flex-column h-100 bg-white p-4" href="hot_issue_02.html">
            <img src="../assets/image/hot-issue/hot-issue-12.png" alt="文章縮圖" class="card-img-top mb-2 mb-md-5 hot__issue__img ">
            <div class="card-body d-flex flex-column p-0">
              <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">專治油頭、易扁塌頭髮！小紅書超火「大棉花棒洗頭法」，實測洗一次清爽五天不出油...</h3>
            </div>
          </a>
        </div>

      </div>

      <!-- pagination -->
      <div class="pagination-wrap row">
        <div class="col">
          <ul class="pagination justify-content-center justify-content-center mb-0">
            <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-left-fill"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-right-fill"></i></a></li>
          </ul>
        </div>
      </div>

    </div>

    <%- include('./layout/footer.ejs'); -%>
      <%- include('./layout/header_search_jq.ejs'); -%>
        <script type="module" src="../main.js"></script>
</body>

</html>