<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BeautyHub Hot Issue - 扁平臉修飾關鍵！高允貞、Jennie高光打亮技巧必學，五官精緻立體、肉餅臉瘦一圈</title>
  <%- include('./layout/seo-favicon.ejs'); -%>
  
</head>

<body>
  <%- include('./layout/header.ejs',{page: "hot_issue_02" }); -%>

    <div class="container-md py-4 px-lg-12 px-md-0 px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
          <li class="breadcrumb-item"><a href="hot_issue.html">Hot Issue</a></li>
          <li class="breadcrumb-item active d-lg-block d-none" aria-current="page">
            扁平臉修飾關鍵！高允貞、Jennie高光打亮技巧必學，五官精緻立體、肉餅臉瘦一圈</li>
          <li class="breadcrumb-item active d-lg-none d-block" aria-current="page">扁平臉修飾關鍵！...</li>
        </ol>
      </nav>

      <main class="main__content py-4">

        <div class="hot__issue__banner">
          <h2 class="main__content__title fs-lg-3 fs-md-4 fs-5 mb-md-6 mb-4 ">
            扁平臉修飾關鍵！高允貞、Jennie高光打亮技巧必學，五官精緻立體、肉餅臉瘦一圈
          </h2>
          <div class="uplod_detail mb-md-6 mb-4">
            <span class="uplod_date text-Gray-02 fs-md-7 fs-8">2023-08-26 13:32 | 於 一週前 更新</span>
          </div>
          <div class="d-flex flex-column justify-content-center mb-md-12 mb-6">
            <p
              class="fs-md-5 fs-6 py-md-5 py-2 ps-md-5 ps-2 border-start border-5 border-Primary-main my-md-6 my-4 text-Secondary-dark fw-light">
              五官天生不突出、也可以靠後天修飾作彌補，其實亞洲人五官大多較為扁平，畫底妝的時候很容易變成所謂的「肉餅臉」，看起來擁腫又顯胖！化妝師解析，比起修容、懂得如何利用高光打亮才是重點，觀察高允貞、Jennie的妝容中都離不開精緻的高光，今天一起看看扁平臉「高光打亮」教學，五官更深邃立體、輪廓感更顯瘦精緻！
            </p>
            <figure class="d-flex flex-column justify-content-center">
              <img src="../assets/image/hot-issue/hot-issue-2.png" alt="扁平臉修飾關鍵！高允貞、Jennie高光打亮技巧必學，五官精緻立體、肉餅臉瘦一圈">
              <figcaption class="text-center fs-md-7 fs-8 text-Gray-02 mb-0 pt-1 fw-light">圖片來源：IG<a href="#"
                  class="link-Secondary-main">&nbsp;@goyounjung</a></figcaption>
            </figure>
          </div>
        </div>

        <div class="hot__issue__content">
          <section>
            <div class="content-1 mb-md-12 mb-6">
              <h3 class="fs-md-5 fs-6 mb-4">扁平臉「高光打亮」是重點，底妝更光透不顯髒</h3>
              <p class="fs-md-6 fs-7 mb-4">
                化妝師解析，亞洲膚色大多偏黃，如果修容色調選錯、或是修容下手太重都很容易讓底妝顯髒，觀察一下《還魂2》高允貞的妝容，會發現韓星的底妝其實真的很少用深色修容，反而是在面部高光處做出打亮、以高光來修飾輪廓感，這樣的方式可以讓底妝更加乾淨，透出的光澤感也很漂亮。
              </p>
              <figure class="d-flex flex-column justify-content-center mb-0">
                <img src="../assets/image/hot-issue/hot-issue-2-1.png" alt="文章配圖">
                <figcaption class="text-center fs-md-7 fs-8 text-Gray-02 mb-0 pt-1 fw-light">圖片來源：IG<a href="#"
                    class="link-Secondary-main">&nbsp;@goyounjung</a></figcaption>
              </figure>
              <p class="fs-md-6 fs-7 my-4">
                BLACKPINK的Jennie日前釋出香水畫報的「水波光妝容」也是引發討論度！這款妝感同樣是比較強調高光的光澤表現，另外也以腮紅搭配高光打亮的方式讓蘋果肌更加膨潤自然、最大限度弱化臉型稜角感，顯得更加減齡。
              </p>
              <figure class="d-flex flex-column justify-content-center mb-0">
                <img src="../assets/image/hot-issue/hot-issue-2-2.png" alt="文章配圖">
                <figcaption class="text-center fs-md-7 fs-8 text-Gray-02 mb-0 pt-1 fw-light">圖片來源：IG<a href="#"
                    class="link-Secondary-main">&nbsp;@jennierubyjane</a></figcaption>
              </figure>
            </div>

            <div class="content-2 mb-md-12 mb-6">
              <p class="fs-md-5 fs-6 mb-4"><u>關於高光打亮，首先需從以下兩個面向考慮：</u></p>
              <h3 class="fs-md-5 fs-6 mb-4">1.&nbsp;皮相打亮：增加膨潤感</h3>
              <p class="fs-md-6 fs-7 mb-4">
                打亮單從結果上來說可以分為兩個面相，首先就是皮相打亮，皮相打亮主要是針對太陽穴凹陷、蘋果肌、淚溝，還有鼻基底凹陷的法令紋及木偶紋等這種「面部脂肪部位」的凹陷或是扁平問題，打亮這些部位可以讓面部增加膨潤飽滿的效果。化妝師建議選擇膏狀的高光或是淺色的遮瑕來做打亮，沒有珠光顆粒可以讓高光感更加細緻，提升面部飽滿效果。
              </p>
              <figure class="d-flex flex-column justify-content-center mb-md-6 mb-4">
                <img src="../assets/image/hot-issue/hot-issue-2-3.png" alt="文章配圖">
                <figcaption class="text-center fs-md-7 fs-8 text-Gray-02 mb-0 pt-1 fw-light">圖片來源：IG<a href="#"
                    class="link-Secondary-main">&nbsp;@jennierubyjane</a></figcaption>
              </figure>
              <h3 class="fs-md-5 fs-6 mb-4">2.&nbsp;骨相打亮：增加立體感</h3>
              <p class="fs-md-6 fs-7 mb-4">
                骨相打亮位置則主要落在骨骼高點，像是T字部位、額頭、眉骨、顴骨等，重點是讓面部線條輪廓看起來更加緊實立體。相較於皮相打亮範圍較大，骨相打亮部位通常都是小而巧，化妝師建議可以小範圍先用霧面高光打底、再用珠光高光疊加，讓整個骨相打亮更加有層次，五官輪廓更鮮明。
              </p>
              <figure class="d-flex flex-column justify-content-center mb-0">
                <img src="../assets/image/hot-issue/hot-issue-2-4.png" alt="文章配圖">
                <figcaption class="text-center fs-md-7 fs-8 text-Gray-02 mb-0 pt-1 fw-light">圖片來源：IG<a href="#"
                    class="link-Secondary-main">&nbsp;@roses_are_rosie</a></figcaption>
              </figure>
            </div>

            <div class="content-3 mb-md-12 mb-6">
              <h3 class="fs-md-5 fs-6 mb-4">高光打亮技巧：填補眼下凹陷</h3>
              <p class="fs-md-6 fs-7 mb-4">
                眼下凹陷、淚溝等都屬於皮相打亮部位，第一步可以先用淺色調的遮瑕膏直接在凹陷部位畫出三角形，再用海綿慢慢拍點開，如果還是有溝紋的話，可以再用霧面（不含珠光）的高光畫在溝紋部位，提亮溝紋、讓扁平部位更加飽滿，視覺上也有膨潤的效果。
              </p>
              <figure class="d-flex flex-column justify-content-center mb-0">
                <img src="../assets/image/hot-issue/hot-issue-2-5.png" alt="文章配圖">
                <figcaption class="text-center fs-md-7 fs-8 text-Gray-02 mb-0 pt-1 fw-light">圖片來源：IG<a href="#"
                    class="link-Secondary-main">&nbsp;@luna_makeup_official</a></figcaption>
              </figure>
            </div>

            <div class="content-4 mb-md-12 mb-6">
              <h3 class="fs-md-5 fs-6 mb-4">高光打亮技巧：修飾鼻基底凹陷、木偶紋</h3>
              <p class="fs-md-6 fs-7 mb-4">
                鼻基底凹陷、木偶紋也是皮相打亮，一樣推薦使用膏狀的高光或是遮瑕，在鼻翼及嘴角先畫上三角形，接著一樣用粉撲或是遮瑕刷慢慢往外拍開，馬上膨潤飽滿，也有種韓系水光肌的效果，看起來更加減齡。
              </p>
              <figure class="d-flex flex-column justify-content-center mb-0">
                <img src="../assets/image/hot-issue/hot-issue-2-6.png" alt="文章配圖">
                <figcaption class="text-center fs-md-7 fs-8 text-Gray-02 mb-0 pt-1 fw-light">圖片來源：IG<a href="#"
                    class="link-Secondary-main">&nbsp;@dasique_official</a></figcaption>
              </figure>
            </div>

            <div class="content-5 mb-md-12 mb-6">
              <h3 class="fs-md-5 fs-6 mb-4">高光打亮技巧：高挺鼻子修容</h3>
              <p class="fs-md-6 fs-7 mb-4">
                想要鼻子又挺又精緻，可以用霧面的粉狀高光進行打亮！從眉間山根開始先畫出一個倒三角，接著往下畫到鼻樑中間即可收手，再往下畫的話鼻頭會有變大的感覺，想要鼻頭有翹感的話也可以在鼻頭處畫一個小圓圈，讓鼻型更精緻！如果想要再加強高光的話，也可以再輕輕疊上一點珠光高光，讓打亮感更明顯。</p>
              <figure class="d-flex flex-column justify-content-center mb-0">
                <img src="../assets/image/hot-issue/hot-issue-2-7.png" alt="文章配圖">
                <figcaption class="text-center fs-md-7 fs-8 text-Gray-02 mb-0 pt-1 fw-light">圖片來源：IG<a href="#"
                    class="link-Secondary-main">&nbsp;@dasique_official</a></figcaption>
              </figure>
            </div>

            <div class="content-6 mb-md-12 mb-6">
              <h3 class="fs-md-5 fs-6 mb-4">高光打亮技巧：顴骨輪廓感修飾</h3>
              <p class="fs-md-6 fs-7 mb-4">
                想要有拉提膨潤感，整個臉周的線條的輪廓「緊實感」很重要，在眼尾延伸顴骨上方可以用霧面的粉狀高光畫出一個大C字，記得不要超過顴骨、也可以與腮紅做銜接，整個臉周輪廓在視覺上會有往上拉提的感覺，提升臉部輪廓立體感。
              </p>
              <figure class="d-flex flex-column justify-content-center mb-0">
                <img src="../assets/image/hot-issue/hot-issue-2-8.png" alt="文章配圖">
                <figcaption class="text-center fs-md-7 fs-8 text-Gray-02 mb-0 pt-1 fw-light">圖片來源：IG<a href="#"
                    class="link-Secondary-main">&nbsp;@dasique_official</a></figcaption>
              </figure>
            </div>

          </section>

          <section>
            <div
              class="hot__issue__recommend d-flex flex-column justify-content-between align-items-center text-center mb-md-5 mb-2">
              <h4 class="hot__issue__recommend-title fs-md-5 fs-6 px-6 mb-4 py-1">
                推薦閱讀
              </h4>

              <div class="row gy-md-0 gy-4">
                <div class="col-lg-4 col-12">
                  <a class="hot__issue__card-link card d-flex flex-column h-100 p-4 bg-white"
                    href="hot_issue_01.html">
                    <img src="../assets/image/hot-issue/hot-issue-5.png" alt="文章縮圖"
                      class="card-img-top mb-2 mb-md-5 hot__issue__img">
                    <div class="card-body d-flex flex-column p-0">
                      <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">
                        2023韓國燙髮推薦！鬆弛感髮型範本，Paper Perm、Sand Perm隨性自然，這款顯瘦又減齡...
                      </h3>
                    </div>
                  </a>
                </div>

                <div class="col-lg-4 col-12">
                  <a class="hot__issue__card-link card d-flex flex-column h-100 p-4 bg-white"
                    href="hot_issue_01.html">
                    <img src="../assets/image/hot-issue/hot-issue-6.png" alt="文章縮圖"
                      class="card-img-top mb-2 mb-md-5 hot__issue__img">
                    <div class="card-body d-flex flex-column p-0">
                      <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">臉下垂、鬆垮怎麼辦？避開7大地雷，秒年輕5歲、超緊輪廓線回歸，加碼2023緊緻精華推薦...
                      </h3>
                    </div>
                  </a>
                </div>

                <div class="col-lg-4 col-12">
                  <a class="hot__issue__card-link card d-flex flex-column h-100 p-4 bg-white"
                    href="hot_issue_01.html">
                    <img src="../assets/image/hot-issue/hot-issue-7.png" alt="文章縮圖"
                      class="card-img-top mb-2 mb-md-5 hot__issue__img ">
                    <div class="card-body d-flex flex-column p-0">
                      <h3 class="hot__issue__text mb-0 ls-h ls-md-p lh-sm fs-6">
                        韓系肉感唇畫法必學！暗沉唇、薄唇調整唇形是關鍵，微笑唇形飽滿豐盈、更減齡顯嫩..
                      </h3>
                    </div>
                  </a>
                </div>

              </div>
          </section>
        </div>

      </main>
    </div>

    <%- include('./layout/footer.ejs'); -%>
      <%- include('./layout/header_search_jq.ejs'); -%>
        <script type="module" src="../main.js"></script>
</body>

</html>