<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>金致臻顏花蜜奢養精華露 - BeautyHub</title>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <%- include('./layout/seo-favicon.ejs'); -%>
</head>
<body>
  <%- include('./layout/header.ejs',{page: "product" }); -%>
  <div class="container-sm mb-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./index.html">首頁</a></li>
        <li class="breadcrumb-item"><a href="./search.html">產品</a></li>
        <li class="breadcrumb-item active" aria-current="page">金致臻顏花蜜奢養精華露</li>
      </ol>
    </nav>
  </div>
  <section class="prodcut-intro container-sm py-12">
    <div class="row">
      <div class="col-10 col-sm-8 col-md-6 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="prodcut-intro__logo-wrap mx-auto ms-xl-auto mb-4 mb-md-0 hover-scale-img">
              <img src="../assets/image/hot-img-02.jpg" alt="產品圖片" class="prodcut-intro__logo-img mw-100">
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="prodcut-intro__main mb-0 mb-md-6 d-flex flex-column-reverse flex-md-column text-center text-lg-start">
              <a href="./brand.html" class="prodcut-intro__brand-link mb-0 mb-md-1 hover-text-primary">L'Oréal Paris</a>
              <h2 class="h5 fs-md-4 fs-lg-3 mb-1 mb-md-1">金致臻顏花蜜奢養精華露</h2>
            </div>
            <ul class="prodcut-intro__tag-list list-unstyled d-none d-lg-flex flex-wrap justify-content-center justify-content-md-start">
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 d-inline-block rounded-pill ls-h fs-7">開架精華液</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">改善乾燥</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">乾肌保養</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">不油膩</span></li>
            </ul>
            <button class="product-intro__bookmark-btn btn btn-outline-primary d-block m-auto ms-lg-0 mt-5">收藏此產品</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product_detail container-md mb-15 mb-md-30">
    <div class="row mb-0">
      <div class="col-12 col-lg-10 mx-auto ">
        <ul class="nav nav-tabs text-center m-auto mb-0" id="myTab" role="tablist">
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="active d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-1" data-bs-toggle="tab" data-bs-target="#tab-1-pane" type="button" role="tab" aria-controls="tab-1-pane" aria-selected="true">介紹</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-2" data-bs-toggle="tab" data-bs-target="#tab-2-pane" type="button" role="tab" aria-controls="tab-2-pane" aria-selected="false">資訊</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-3" data-bs-toggle="tab" data-bs-target="#tab-3-pane" type="button" role="tab" aria-controls="tab-3-pane" aria-selected="false">成分</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-4" data-bs-toggle="tab" data-bs-target="#tab-4-pane" type="button" role="tab" aria-controls="tab-4-pane" aria-selected="false">評論</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-5" data-bs-toggle="tab" data-bs-target="#tab-5-pane" type="button" role="tab" aria-controls="tab-5-pane" aria-selected="false">發表</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="tab-content m-auto" id="myTabContent">
          <div class="tab-pane fade show active" id="tab-1-pane" role="tabpanel" aria-labelledby="tab-1" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2 text-justify">
              <p>誕生於珍貴的肌膚之本，尊寵精緻的金致臻顏系列能賦活肌膚的健康光采。隨著年齡增長，肌膚營養及膠原蛋白的流失，保水能力減弱，除了乾燥、細紋等問題，肌膚更不如從前彈潤緊實。要改善乾燥細紋的首先步驟就是精華露，不僅在細紋上修復，也有助於肌膚油水平衡、穩定膚況。日常保養及修護是個不可或缺的角色。</p>
              <p>金致臻顏花蜜養奢精華露</p>
              <p>擁有輕盈水潤的質地，快速滲透的密集補充肌膚所需養份。</p>
              <p>蘊含麥盧卡花蜜#+四胜肽精華*</p>
              <img src="https://www.lorealparis.com.tw/-/media/project/loreal/brand-sites/oap/apac/tw/local-products/230204/3.jpg?w=720&rev=ccc4a087276c410abf511a15dbbbe201&hash=0A06D093DF7F144C0E64C943769CDB8B71EB9549" alt="產品介紹圖片" class="product-intro-img mb-4">
              <p class="mb-0">蘊含麥盧卡花蜜，源自天然來源的奢養肌膚聖品</p>
              <p class="mb-0">富含胺基酸及維他命，為一種珍貴的保養成分。萃取自紐西蘭麥盧卡樹的花蜜，嚴格把關每個蜂巢，皆可透過GPS追蹤源頭。巴黎萊雅首次^將麥盧卡花蜜精萃，融入花蜜奢養保養系列，花蜜奢養精華露。</p>
              <p class="mb-0">為肌膚帶來充沛營養。乾燥粗糙的肌膚，藉此充分奢養，深度滋潤修護，重啟彈潤、光滑、緊實、年輕。</p>
              <p>四胜肽尤如開啟肌膚活力的鑰匙，幫助維持彈潤緊實。</p>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-2-pane" role="tabpanel" aria-labelledby="tab-2" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2 text-justify">
              誕生於珍貴的肌膚之本，尊寵精緻的金致臻顏系列能賦活肌膚的健康光采。隨著年齡增長，肌膚營養及膠原蛋白的流失，保水能力減弱，除了乾燥、細紋等問題，肌膚更不如從前彈潤緊實。
            </div>
          </div>
          <div class="tab-pane fade" id="tab-3-pane" role="tabpanel" aria-labelledby="tab-3" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              <ul class="list-group chemical-list d-flex chemical-list-numbered gy-2 gy-sm-0">
                <li class="list-group-item chemical-list__item chemical-list__head bg-Primary-light d-none d-sm-flex">
                  <p class="en-name mb-0 w-sm-30">英文</p>
                  <p class="name mb-0 w-sm-30">中文</p>
                  <p class="intro mb-0 w-sm-30">概要</p>
                  <p class="link-out mb-0 w-10 text-center">介紹</p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Aqua</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">水</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">溶劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/90172810251.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/90172810251.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Glycerol</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">甘油, 丙三醇</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">溶劑, 黏度控制, 肌膚調理, 保溼</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/205eb9166.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/205eb9166.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Alcohol</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">酒精</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">溶劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/fe88f2158.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/fe88f2158.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Butylene Glycol</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">丁二醇</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">溶劑, 香料, 黏度控制, 肌膚調理, 保溼</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/1fdc3980.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/1fdc3980.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Apricot Kernel Oil</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">杏核油, 杏仁油, 杏桃仁油</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">油性滋潤</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/14cf5752.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/14cf5752.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Passiflora Edulis Seed Oil</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">雞蛋果籽油</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">柔潤劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/0a90bf17714.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/0a90bf17714.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Honey Extract</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">蜂蜜萃取</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">肌膚調理, 保溼</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/718b6820799.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/718b6820799.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Dicaprylyl Carbonate</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">碳酸二辛酯                      </p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">柔潤劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/90f3e610236.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/90f3e610236.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Royal Jelly</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">蜂王乳, 蜂王漿</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">肌膚調理, 保溼</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/a50514640.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/a50514640.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Cetearyl Alcohol</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">棕櫚醇, 鯨蠟硬脂醇</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">界面劑, 黏度控制, 乳化劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/f83898102.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/f83898102.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Sodium Hydroxide</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">氫氧化鈉</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">酸鹼調節</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/47cc91943.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/47cc91943.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Sodium methyl stearoyl taurate</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">甲基硬脂醯基牛磺酸鈉</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">界面劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/e8fa6e2635.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/e8fa6e2635.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Ammonium polyacryloyldimethyl taurate</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">聚丙烯醯基二甲基牛磺酸銨</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">黏度控制, 乳化劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/dedd9610255.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/dedd9610255.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Edetate Disodium</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">乙二胺四乙基二鈉, 乙酸乙二胺二鈉, 乙二胺四乙酸二鈉</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">黏度控制</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/c25e5833.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/c25e5833.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Chlorphenesin</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">氯苯甘醚</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">防腐劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/e81b872894.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/e81b872894.html"></a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-4-pane" role="tabpanel" aria-labelledby="tab-4" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              <ul class="review-cards list-unstyled">
                <li class="review-card row" id="review-01">
                  <div class="col-md-2 d-none d-md-block">
                    <div class="review-card__user h-100 d-none d-md-flex flex-column align-items-center justify-content-center">
                      <img class="review-card__avatar rounded-circle mb-2 object-fit-cover d-block" src="https://cdn2.thecatapi.com/images/ae1.jpg" alt="貝貝魯多頭像">
                      <p class="review-card__user-name text-md-center mb-0 hover-text-primary"><a href="./member_open_page.html">貝貝魯多</a></p>
                    </div>
                  </div>
                  <div class="col-12 col-md-10">
                    <div class="review-card__review-area mb-1 mb-md-2">
                      <div class="review-card__header d-flex justify-content-between align-items-md-center flex-wrap">
                        <div class="review-card__header-wrap d-flex d-md-block align-items-center mb-1 mb-md-2">
                          <p class="review-card__title fs-5 fs-md-5 mb-0 fw-medium me-1 me-md-0">用了一個月推推</p>
                          <a href="./member_open_page.html" class="review-card__user-name d-md-none mb-0 hover-text-primary fs-7 text-Gray-02 align-bottom">貝貝魯多</a>
                        </div>
                        <div class="review-card__badge align-bottom d-flex align-items-center">
                          <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary me-1" role="button"></i>
                          <span class="review-card__favorite-num text-primary me-2">64</span>
                          <i class="bi bi-bookmark review-card__badge-bookmark text-secondary hover-text-primary"  role="button"></i>
                        </div>
                      </div>
                      <div class="review-card__body pe-1">
                        <div class="review-card__body-content text-Gray-01 overflow-hidden">
                          <p>金致臻顏花蜜奢養精華露，是一款令人驚艷的護膚產品。我一直在尋找一種能夠提供深層滋養和明亮肌膚的產品，而這款精華露完全超出了我的期望。</p>
                          <p>首先，我要說的是它的質地非常輕盈，容易被肌膚吸收，不會留下任何油膩感。這對於我這樣混合性肌膚的人來說特別重要，因為我不希望我的T區變得更油膩。但與此同時，它也非常滋潤，讓我的肌膚感覺到了明顯的水分補充，使肌膚變得柔軟而有彈性。</p>
                          <p>這款精華露中的花蜜成分確實讓我印象深刻。我發現它為我的肌膚提供了一種天然的光澤，使我的面部看起來更加明亮和有活力。另外，我使用它一段時間後，注意到了細紋和皺紋的減少，這讓我非常開心。</p>
                          <p>最後，我要強調的是這款產品的香氛。它有一種輕柔的花香，每次使用都讓我感到愉悅。我真的覺得每天使用這款精華露都是一種享受。</p>
                          <p>總的來說，金致臻顏花蜜奢養精華露是一款非常出色的護膚產品，它讓我的肌膚看起來更加年輕和健康。我強烈推薦給所有尋找高品質護膚產品的人。</p>
                        </div>
                      </div>
                      <i class="review-card__collapse bi bi-caret-down-fill d-block text-end text-secondary hover-text-primary fs-5 align-bottom lh-sm" role="button" data-bs-toggle="collapse" data-bs-target="#comment-list-1" aria-expanded="false" aria-controls="comment-list-1"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-10 ms-auto">
                    <p class="review-card__comment-area-title mb-2 fs-5 fw-medium text-Gray-02">留言</p>
                    <ul class="review-card__comments list-unstyled collapse mb-2" id="comment-list-1">
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="./member_open_page.html">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="../assets/image/home-recommend/woman-profile-1.png" alt="梅子綠頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">梅子綠</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">這款精華露的花蜜成分確實令人驚艷，我使用後也感到皮膚變得更加水潤和有彈性。它的香氛也非常迷人，每次使用都是一個享受。我完全支持這個評論！</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">0</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="./member_open_page.html">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/99r.jpg" alt="zawarudo頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">zawarudo</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">樓主好人一生平安</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">3</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="./member_open_page.html">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/2io.jpg" alt="歐拉歐拉頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">歐拉歐拉</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">完全同意！金致臻顏花蜜奢養精華露真的是一款神奇的產品，我也愛不釋手。我的肌膚狀況有了明顯改善，感覺更加年輕和有光澤。</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">5</span>
                            </div>
                          </div>
                        </div> 
                      </li>                  
                    </ul>
                    <div class="review-card__send-comment d-flex align-items-center row mt-1 mt-md-2">
                      <div class="col-2 d-none d-md-block">
                        <div class="review-card__comment-user d-flex align-items-center flex-column">
                          <img class="review-card__comment-avartar rounded-circle object-fit-cover" src="../assets/image/home-recommend/woman-profile-1.png" alt="你的頭像">
                        </div>
                      </div>
                      <div class="col-12 col-md-10">
                        <div class="input-group border border-Gray-04">
                          <input type="text" class="review-card__comment-input form-control border-0" placeholder="說點什麼...">
                          <span class="input-group-text py-2 border-0 text-Gray-02 hover-text-primary" role="button"><i class="bi bi-send-fill"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="pagination review__pagination justify-content-center justify-content-md-end mb-0 d-none">
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-left-fill"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-right-fill"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade h-100 p-0" id="tab-5-pane" role="tabpanel" aria-labelledby="tab-5" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              <form action="" onsubmit="">
                <input name="review" type="hidden">
                <div id="scrolling-container" class="scrolling-container">
                  <div id="editor" class="editor">
                  </div>
                </div>
                <button class="review-submit btn btn-primary d-block mx-auto mt-4 px-md-18 w-100" name="review" type="submit">發表</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        
  </section>
  <%- include('./layout/footer.ejs'); -%>
  <%- include('./layout/header_search_jq.ejs'); -%>
  <script type="module" src="../main.js"></script>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script>
    // initialize text editor
    var quill = new Quill('#editor', {
      scrollingContainer: '#scrolling-container',
      modules: {
        toolbar: [
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }, { 'color': [] }, 'bold', 'italic'],
          ['link', 'image',{ list: 'ordered' }, { list: 'bullet' }],
          ['clean']
        ]
      },
      placeholder: '發表你的獨家心得...',
      theme: 'snow'
    });

    // expand review card's comments
    $(".review-card__collapse").on( "click", function() {
      $(".review__pagination").toggleClass("hidden");
      $(".review-card").toggleClass("hidden");
      $(this).parents(".review-card").removeClass("hidden");
      $(this).parents(".review-card").toggleClass("active");
      $(".review-card__comment-area-title").toggleClass("active");
      $(".review-card__content-img").toggleClass("active");
    });

    // active review card's favorite & bookmark button
    $(".review-card__badge-heart").on( "click", function() {
      $(this).toggleClass("bi-heart");
      $(this).toggleClass("bi-heart-fill");
    });
    $(".review-card__badge-bookmark").on( "click", function() {
      $(this).toggleClass("bi-bookmark");
      $(this).toggleClass("bi-bookmark-fill");
    });

    // toggle expand button
    $(".review-card__collapse").on( "click", function() {
      $(this).toggleClass("bi-caret-down-fill");
      $(this).toggleClass("bi-caret-up-fill");
    });

    // toggle state of product bookmark btn
    $(".product-intro__bookmark-btn.btn-outline-primary").on( "click", function() {
      if ($(".product-intro__bookmark-btn").hasClass("btn-outline-primary")) {
        $(this).text("已收藏");
        $(this).removeClass("btn-outline-primary");
        $(this).addClass("btn-primary");
      }
      else {
        $(this).text("收藏此產品");
        $(this).removeClass("btn-primary");
        $(this).addClass("btn-outline-primary");
      }
    });
  </script>
</body>
</html>