<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>雙色閃亮眼影蜜 - BeautyHub</title>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <%- include('./layout/seo-favicon.ejs'); -%>
</head>
<body>
  <%- include('./layout/header.ejs',{page: "product" }); -%>
  <div class="container-sm mb-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./index.html">首頁</a></li>
        <li class="breadcrumb-item"><a href="./search.html">產品</a></li>
        <li class="breadcrumb-item active" aria-current="page">雙色閃亮眼影蜜</li>
      </ol>
    </nav>
  </div>
  <section class="prodcut-intro container-sm py-12">
    <div class="row">
      <div class="col-10 col-sm-8 col-md-6 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="prodcut-intro__logo-wrap mx-auto ms-xl-auto mb-4 mb-md-0 hover-scale-img">
              <img src="https://shoplineimg.com/58de2c73d4e395c884000a99/5f9a6bcec0a9fc00206fb1b3/800x.webp?source_format=JPG" alt="產品圖片" class="prodcut-intro__logo-img mw-100">
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="prodcut-intro__main mb-0 mb-md-6 d-flex flex-column-reverse flex-md-column text-center text-lg-start">
              <a href="./brand.html" class="prodcut-intro__brand-link mb-0 mb-md-1 hover-text-primary">Tsuvimi 姿慧美</a>
              <h2 class="h5 fs-md-4 fs-lg-3 mb-1 mb-md-1">雙色閃亮眼影蜜</h2>
            </div>
            <ul class="prodcut-intro__tag-list list-unstyled d-none d-lg-flex flex-wrap justify-content-center justify-content-md-start">
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 d-inline-block rounded-pill ls-h fs-7">液狀</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">好上手</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">顯色度佳</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">平價彩妝</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">延展度佳</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">乾爽</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">Y2K</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">提亮</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product_detail container-md mb-15 mb-md-30">
    <div class="row mb-0">
      <div class="col-12 col-lg-10 mx-auto ">
        <ul class="nav nav-tabs text-center m-auto mb-0" id="myTab" role="tablist">
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="active d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-1" data-bs-toggle="tab" data-bs-target="#tab-1-pane" type="button" role="tab" aria-controls="tab-1-pane" aria-selected="true">介紹</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-2" data-bs-toggle="tab" data-bs-target="#tab-2-pane" type="button" role="tab" aria-controls="tab-2-pane" aria-selected="false">資訊</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-3" data-bs-toggle="tab" data-bs-target="#tab-3-pane" type="button" role="tab" aria-controls="tab-3-pane" aria-selected="false">成分</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-4" data-bs-toggle="tab" data-bs-target="#tab-4-pane" type="button" role="tab" aria-controls="tab-4-pane" aria-selected="false">評論</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-5" data-bs-toggle="tab" data-bs-target="#tab-5-pane" type="button" role="tab" aria-controls="tab-5-pane" aria-selected="false">發表</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="tab-content m-auto" id="myTabContent">
          <div class="tab-pane fade show active" id="tab-1-pane" role="tabpanel" aria-labelledby="tab-1" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2 text-justify">
              <img src="https://i.imgur.com/17FLudO.jpg" alt="產品介紹圖片" class="product-intro-img">
            </div>
          </div>
          <div class="tab-pane fade" id="tab-2-pane" role="tabpanel" aria-labelledby="tab-2" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2 text-justify">
              超乎想像的細緻魅力電眼<br>
              顯色延展 X 輕推薄透更顯色<br>
              幕斯質地 X 絲滑細緻的親膚質感<br>
              不掉粉屑 X 貼敷舒適清爽不黏膩
            </div>
          </div>
          <div class="tab-pane fade" id="tab-3-pane" role="tabpanel" aria-labelledby="tab-3" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              目前尚無資料
            </div>
          </div>
          <div class="tab-pane fade" id="tab-4-pane" role="tabpanel" aria-labelledby="tab-4" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              <ul class="review-cards list-unstyled">
                <li class="review-card row" id="review-01">
                  <div class="col-md-2 d-none d-md-block">
                    <div class="review-card__user h-100 d-none d-md-flex flex-column align-items-center justify-content-center">
                      <img class="review-card__avatar rounded-circle mb-2 object-fit-cover d-block" src="../assets/image/home-recommend/woman-profile-3.png" alt="帽子小姐頭像">
                      <p class="review-card__user-name text-md-center mb-0 hover-text-primary"><a href="#user-page-href">帽子小姐</a></p>
                    </div>
                  </div>
                  <div class="col-12 col-md-10">
                    <div class="review-card__review-area mb-1 mb-md-2">
                      <div class="review-card__header d-flex justify-content-between align-items-md-center flex-wrap">
                        <div class="review-card__header-wrap d-flex d-md-block align-items-center mb-1 mb-md-2">
                          <p class="review-card__title fs-5 fs-md-5 mb-0 fw-medium me-1 me-md-0">穩定肌膚大推！</p>
                          <a href="" class="review-card__user-name d-md-none mb-0 hover-text-primary fs-7 text-Gray-02 align-bottom">帽子小姐</a>
                        </div>
                        <div class="review-card__badge align-bottom d-flex align-items-center">
                          <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary me-1" role="button"></i>
                          <span class="review-card__favorite-num text-primary me-2">41</span>
                          <i class="bi bi-bookmark review-card__badge-bookmark text-secondary hover-text-primary"  role="button"></i>
                        </div>
                      </div>
                      <div class="review-card__body pe-1">
                        <div class="review-card__body-content text-Gray-01 overflow-hidden">
                          <p>這款眼影蜜提供超多種色調選擇。無論是自然日常妝還是特殊場合，總能找到一個適合的色調來搭配我的造型。</p>
                          <p>蜜非常容易上色，只需使用指尖輕輕拍在眼瞼上就能推開，輕鬆打造出迷人的眼妝效果。它的質地柔軟，能夠均勻附著在皮膚上，不會造成塊狀或積線</p>
                          <p>整支眼影蜜就是筆狀，液狀又不怕摔超適合帶出國或是放包包裡臨時補妝～</p>
                        </div>
                      </div>
                      <i class="review-card__collapse bi bi-caret-down-fill d-block text-end text-secondary hover-text-primary fs-5 align-bottom lh-sm" role="button" data-bs-toggle="collapse" data-bs-target="#comment-list-1" aria-expanded="false" aria-controls="comment-list-1"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-10 ms-auto">
                    <p class="review-card__comment-area-title mb-2 fs-5 fw-medium text-Gray-02">留言</p>
                    <ul class="review-card__comments list-unstyled collapse mb-2" id="comment-list-1">
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/bh2.jpg" alt="安妞妞頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">安妞妞</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">夭壽全都是亮片色嗎...</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">2</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/d59.jpg" alt="霹靂拉拉頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">霹靂拉拉</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">樓主目前買了哪些色號啊，顏色超多我選擇障礙了QQ</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">11</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/dhg.jpg" alt="陽光燦爛頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">陽光燦爛</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">這牌子是彩虹帝國嗎，不只眼影蜜連睫毛膏都出彩色的欸XDDDDD真的會有人用到紫色的睫毛膏嗎XDDDDDD</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">9</span>
                            </div>
                          </div>
                        </div> 
                      </li> 
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/ae1.jpg" alt="貝貝魯多頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">貝貝魯多</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">手殘如我連這種眼影蜜都用不好QQ求出教學文</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">0</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/bvf.jpg" alt="阿花拉瓜頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">阿花拉瓜</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">回三樓，其實彩色睫毛膏我都拿來當染眉膏用，染特殊髮色的人會用到唷</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">23</span>
                            </div>
                          </div>
                        </div> 
                      </li>                     
                    </ul>
                    <div class="review-card__send-comment d-flex align-items-center row mt-1 mt-md-2">
                      <div class="col-2 d-none d-md-block">
                        <div class="review-card__comment-user d-flex align-items-center flex-column">
                          <img class="review-card__comment-avartar rounded-circle object-fit-cover" src="../assets/image/home-recommend/woman-profile-1.png" alt="你的頭像">
                        </div>
                      </div>
                      <div class="col-12 col-md-10">
                        <div class="input-group border border-Gray-04">
                          <input type="text" class="review-card__comment-input form-control border-0" placeholder="說點什麼...">
                          <span class="input-group-text py-2 border-0 text-Gray-02 hover-text-primary" role="button"><i class="bi bi-send-fill"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="review-card row" id="review-02">
                  <div class="col-md-2 d-none d-md-block">
                    <div class="review-card__user h-100 d-none d-md-flex flex-column align-items-center justify-content-center">
                      <img class="review-card__avatar rounded-circle mb-2 object-fit-cover d-block" src="https://github.com/LandyHsiao/beauty-hub/blob/develop/assets/image/home-recommend/woman-profile-2.png?raw=true" alt="Kelly♥頭像">
                      <p class="review-card__user-name text-md-center mb-0 hover-text-primary"><a href="#user-page-href">Kelly♥</a></p>
                    </div>
                  </div>
                  <div class="col-12 col-md-10">
                    <div class="review-card__review-area mb-1 mb-md-2">
                      <div class="review-card__header d-flex justify-content-between align-items-md-center flex-wrap">
                        <div class="review-card__header-wrap d-flex d-md-block align-items-center mb-1 mb-md-2">
                          <p class="review-card__title fs-5 fs-md-5 mb-0 fw-medium me-1 me-md-0">新手懶人建議入手～</p>
                          <a href="" class="review-card__user-name d-md-none mb-0 hover-text-primary fs-7 text-Gray-02 align-bottom">Kelly♥</a>
                        </div>
                        <div class="review-card__badge align-bottom d-flex align-items-center">
                          <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary me-1" role="button"></i>
                          <span class="review-card__favorite-num text-primary me-2">29</span>
                          <i class="bi bi-bookmark review-card__badge-bookmark text-secondary hover-text-primary"  role="button"></i>
                        </div>
                      </div>
                      <div class="review-card__body pe-1">
                        <div class="review-card__body-content text-Gray-01 overflow-hidden">
                          <p>懶人救星，手殘人推薦入手～<br>
                            組合Q22栗子可頌包含兩個色號S16+S19，是不容易失手的大地色系，可以看到抹在皮膚上的質感非常絲滑<br>
                            抹一抹眼妝就畫好了!!
                          </p>
                          <img src="https://shoplineimg.com/58de2c73d4e395c884000a99/5f30c934d118080021ae5994/1512x.webp?source_format=JPG" alt="評論附圖" class="review-card__content-img">
                        </div>
                      </div>
                      <i class="review-card__collapse bi bi-caret-down-fill d-block text-end text-secondary hover-text-primary fs-5 align-bottom lh-sm" role="button" data-bs-toggle="collapse" data-bs-target="#comment-list-2" aria-expanded="false" aria-controls="comment-list-2"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-10 ms-auto">
                    <p class="review-card__comment-area-title mb-2 fs-5 fw-medium text-Gray-02">留言</p>
                    <ul class="review-card__comments list-unstyled collapse mb-2" id="comment-list-2">
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="../assets/image/home-recommend/woman-profile-1.png" alt="梅子綠頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">梅子綠</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">想問會不會乾很快，有用過跟三秒膠一樣的眼影蜜，還沒推開就乾了，直接悲劇QQ</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">14</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="../assets/image/home-recommend/woman-profile-4.png" alt="日系水水頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">日系水水</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">二香詛咒日常運作</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">26</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/bru.jpg" alt="Shiki頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">Shiki</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">同問眼影蜜乾燥速度，還有樓主是直接用手指推開還是有用刷具呢～</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">3</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/83htMb1AJ.jpg" alt="卡爾葛拉頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">卡爾葛拉</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">睫毛也是用同一家的彩色睫毛膏嗎～求色號推薦</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">12</span>
                            </div>
                          </div>
                        </div> 
                      </li>                     
                    </ul>
                    <div class="review-card__send-comment d-flex align-items-center row mt-1 mt-md-2">
                      <div class="col-2 d-none d-md-block">
                        <div class="review-card__comment-user d-flex align-items-center flex-column">
                          <img class="review-card__comment-avartar rounded-circle object-fit-cover" src="../assets/image/home-recommend/woman-profile-1.png" alt="你的頭像">
                        </div>
                      </div>
                      <div class="col-12 col-md-10">
                        <div class="input-group border border-Gray-04">
                          <input type="text" class="review-card__comment-input form-control border-0" placeholder="說點什麼...">
                          <span class="input-group-text py-2 border-0 text-Gray-02 hover-text-primary" role="button"><i class="bi bi-send-fill"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- <ul class="pagination review__pagination justify-content-center justify-content-md-end mb-0">
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-left-fill"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-right-fill"></i></a></li>
              </ul> -->
            </div>
          </div>
          <div class="tab-pane fade h-100 p-0" id="tab-5-pane" role="tabpanel" aria-labelledby="tab-5" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              <form action="" onsubmit="">
                <input name="review" type="hidden">
                <div id="scrolling-container" class="scrolling-container">
                  <div id="editor" class="editor">
                  </div>
                </div>
                <button class="review-submit btn btn-primary d-block mx-auto mt-4 px-md-18 w-100" name="review" type="submit">發表</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        
  </section>
  <%- include('./layout/footer.ejs'); -%>
  <%- include('./layout/header_search_jq.ejs'); -%>
  <script type="module" src="../main.js"></script>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script>
    // initialize text editor
    var quill = new Quill('#editor', {
      scrollingContainer: '#scrolling-container',
      modules: {
        toolbar: [
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }, { 'color': [] }, 'bold', 'italic'],
          ['link', 'image',{ list: 'ordered' }, { list: 'bullet' }],
          ['clean']
        ]
      },
      placeholder: '發表你的獨家心得...',
      theme: 'snow'
    });

    // expand review card's comments
    $(".review-card__collapse").on( "click", function() {
      $(".review__pagination").toggleClass("hidden");
      $(".review-card").toggleClass("hidden");
      $(this).parents(".review-card").removeClass("hidden");
      $(this).parents(".review-card").toggleClass("active");
      $(".review-card__comment-area-title").toggleClass("active");
      $(".review-card__content-img").toggleClass("active");
    });

    // active review card's favorite & bookmark button
    $(".review-card__badge-heart").on( "click", function() {
      $(this).toggleClass("bi-heart");
      $(this).toggleClass("bi-heart-fill");
    });
    $(".review-card__badge-bookmark").on( "click", function() {
      $(this).toggleClass("bi-bookmark");
      $(this).toggleClass("bi-bookmark-fill");
    });

    // toggle expand button
    $(".review-card__collapse").on( "click", function() {
      $(this).toggleClass("bi-caret-down-fill");
      $(this).toggleClass("bi-caret-up-fill");
    });
  </script>
</body>
</html>