<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>黃金藍銅玻尿酸保濕化妝水 - BeautyHub</title>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <%- include('./layout/seo-favicon.ejs'); -%>
</head>
<body>
  <%- include('./layout/header.ejs',{page: "product" }); -%>
  <div class="container-sm mb-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./index.html">首頁</a></li>
        <li class="breadcrumb-item"><a href="./search.html">產品</a></li>
        <li class="breadcrumb-item active" aria-current="page">黃金藍銅玻尿酸保濕化妝水</li>
      </ol>
    </nav>
  </div>
  <section class="prodcut-intro container-sm py-12">
    <div class="row">
      <div class="col-10 col-sm-8 col-md-6 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="prodcut-intro__logo-wrap mx-auto ms-xl-auto mb-4 mb-md-0 hover-scale-img">
              <img src="../assets/image/hot-img-01.jpg" alt="產品圖片" class="prodcut-intro__logo-img mw-100">
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="prodcut-intro__main mb-0 mb-md-6 d-flex flex-column-reverse flex-md-column text-center text-lg-start">
              <a href="./brand.html" class="prodcut-intro__brand-link mb-0 mb-md-1 hover-text-primary">For Beloved One</a>
              <h2 class="h5 fs-md-4 fs-lg-3 mb-1 mb-md-1">黃金藍銅玻尿酸保濕化妝水</h2>
            </div>
            <ul class="prodcut-intro__tag-list list-unstyled d-none d-lg-flex flex-wrap justify-content-center justify-content-md-start">
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 d-inline-block rounded-pill ls-h fs-7">敏感肌適用</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">無酒精</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">無香精</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product_detail container-md mb-15 mb-md-30">
    <div class="row mb-0">
      <div class="col-12 col-lg-10 mx-auto ">
        <ul class="nav nav-tabs text-center m-auto mb-0" id="myTab" role="tablist">
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="active d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-1" data-bs-toggle="tab" data-bs-target="#tab-1-pane" type="button" role="tab" aria-controls="tab-1-pane" aria-selected="true">介紹</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-2" data-bs-toggle="tab" data-bs-target="#tab-2-pane" type="button" role="tab" aria-controls="tab-2-pane" aria-selected="false">資訊</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-3" data-bs-toggle="tab" data-bs-target="#tab-3-pane" type="button" role="tab" aria-controls="tab-3-pane" aria-selected="false">成分</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-4" data-bs-toggle="tab" data-bs-target="#tab-4-pane" type="button" role="tab" aria-controls="tab-4-pane" aria-selected="false">評論</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-5" data-bs-toggle="tab" data-bs-target="#tab-5-pane" type="button" role="tab" aria-controls="tab-5-pane" aria-selected="false">發表</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="tab-content m-auto" id="myTabContent">
          <div class="tab-pane fade show active" id="tab-1-pane" role="tabpanel" aria-labelledby="tab-1" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2 text-justify">
              <img src="https://img.shoplineapp.com/media/image_clips/648003baf3faff2cb25eb570/original.jpg?1686111161" alt="產品介紹圖片" class="product-intro-img">
            </div>
          </div>
          <div class="tab-pane fade" id="tab-2-pane" role="tabpanel" aria-labelledby="tab-2" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2 text-justify">
              ①分層補水，保濕力全面提升！<br>
              ②獨特生物螯合金 × 藍銅胜肽，保濕修護科技！<br>
              ③為乾燥肌膚提升肌底保水度，使肌膚再現健康，水嫩到發光!<br><br>
              主成分：生物螯合金、藍銅胜肽、葡萄糖酸銅、維他命原B5、玻尿酸納。
            </div>
          </div>
          <div class="tab-pane fade" id="tab-3-pane" role="tabpanel" aria-labelledby="tab-3" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              <ul class="list-group chemical-list d-flex chemical-list-numbered gy-2 gy-sm-0">
                <li class="list-group-item chemical-list__item chemical-list__head bg-Primary-light d-none d-sm-flex">
                  <p class="en-name mb-0 w-sm-30">英文</p>
                  <p class="name mb-0 w-sm-30">中文</p>
                  <p class="intro mb-0 w-sm-30">概要</p>
                  <p class="link-out mb-0 w-10 text-center">介紹</p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Water Purified</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">純水, 純化水</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">-</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href=""></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Pentylene Glycol</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">戊二醇, 1,2-戊二醇</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">保溼</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href=""></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Butylene Glycol</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">丁二醇, 1,3-丁二醇</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">溶劑, 香料, 黏度控制, 肌膚調理, 保溼</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href=""></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Glycerol</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">甘油, 丙三醇</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">溶劑, 黏度控制, 肌膚調理, 保溼</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href=""></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Alteromonas Ferment Extract</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">交替單胞菌發酵產物萃取, 交替單胞菌發酵產物萃取</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">肌膚調理</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href=""></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Sodium Hyaluronate</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">玻尿酸鈉, 透明質酸鈉, 玻璃酸鈉</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">肌膚調理, 保溼</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href=""></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">GHK-Cu</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">銅胜肽, 藍銅胜肽, 銅三肽-1</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">-</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href=""></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Copper gluconate</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">葡糖酸銅</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">肌膚調理</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href=""></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Hydrolyzed Hyaluronic Acid</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">水解透明質酸</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">肌膚調理, 保溼</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href=""></a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-4-pane" role="tabpanel" aria-labelledby="tab-4" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              <ul class="review-cards list-unstyled">
                <li class="review-card row" id="review-01">
                  <div class="col-md-2 d-none d-md-block">
                    <div class="review-card__user h-100 d-none d-md-flex flex-column align-items-center justify-content-center">
                      <img class="review-card__avatar rounded-circle mb-2 object-fit-cover d-block" src="https://github.com/LandyHsiao/beauty-hub/blob/develop/assets/image/home-recommend/woman-profile-1.png?raw=true" alt="梅子綠頭像">
                      <p class="review-card__user-name text-md-center mb-0 hover-text-primary"><a href="#user-page-href">梅子綠</a></p>
                    </div>
                  </div>
                  <div class="col-12 col-md-10">
                    <div class="review-card__review-area mb-1 mb-md-2">
                      <div class="review-card__header d-flex justify-content-between align-items-md-center flex-wrap">
                        <div class="review-card__header-wrap d-flex d-md-block align-items-center mb-1 mb-md-2">
                          <p class="review-card__title fs-5 fs-md-5 mb-0 fw-medium me-1 me-md-0">穩定肌膚大推！</p>
                          <a href="" class="review-card__user-name d-md-none mb-0 hover-text-primary fs-7 text-Gray-02 align-bottom">梅子綠</a>
                        </div>
                        <div class="review-card__badge align-bottom d-flex align-items-center">
                          <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary me-1" role="button"></i>
                          <span class="review-card__favorite-num text-primary me-2">18</span>
                          <i class="bi bi-bookmark review-card__badge-bookmark text-secondary hover-text-primary"  role="button"></i>
                        </div>
                      </div>
                      <div class="review-card__body pe-1">
                        <div class="review-card__body-content text-Gray-01 overflow-hidden">
                          <p class="fw-medium">質地與吸收力</p>
                          <p>這款化妝水的質地輕盈，幾乎像是水的質地，但不同的是，它在接觸皮膚後迅速被吸收，讓肌膚瞬間感受到水分的滋潤。不僅如此，它的滲透力也很出色，能夠迅速滲入皮膚深層，讓肌膚保持水潤而不油膩。</p>
                          <p class="fw-medium">保濕效果</p>
                          <p>使用這款化妝水的第一個感受就是肌膚的立即保濕效果。我將化妝水倒在掌心輕拍在臉上，肌膚瞬間變得柔軟飽滿，不再有乾燥的緊繃感。隨著持續的使用，我注意到肌膚的水分不再那麼容易流失，整體看起來更加澎潤有光澤。</p>
                          <p class="fw-medium">舒緩與鎮定</p>
                          <p>在使用這款化妝水的幾個星期內，我也注意到了它的舒緩鎮定效果。我偶爾會因為環境因素或壓力而出現輕微的紅腫現象，但在使用這款化妝水後，紅腫的情況有減輕，肌膚也感覺更平靜。這讓我更有信心地面對外界的壓力，知道肌膚得到了適當的呵護與保護。</p>
                        </div>
                      </div>
                      <i class="review-card__collapse bi bi-caret-down-fill d-block text-end text-secondary hover-text-primary fs-5 align-bottom lh-sm" role="button" data-bs-toggle="collapse" data-bs-target="#comment-list-1" aria-expanded="false" aria-controls="comment-list-1"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-10 ms-auto">
                    <p class="review-card__comment-area-title mb-2 fs-5 fw-medium text-Gray-02">留言</p>
                    <ul class="review-card__comments list-unstyled collapse mb-2" id="comment-list-1">
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/bqq.jpg" alt="霹靂卡頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">霹靂卡</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">欸我要逆風反推，本身是敏弱肌，不知道是對裡面哪種成分過敏還是怎樣，隔天就覺得臉怪怪的，也不是發癢紅腫那種嚴重的，只能說跟平時感覺不太一樣XD</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">8</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/d59.jpg" alt="霹靂拉拉頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">霹靂拉拉</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">樓主好人一生平安</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">0</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/e44.jpg" alt="波波力那頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">波波力那</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">推實用，好奇樓主目前用了幾天。</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">3</span>
                            </div>
                          </div>
                        </div> 
                      </li> 
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/ae1.jpg" alt="貝貝魯多頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">貝貝魯多</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">夭壽被樓主燒到了🔥求幫滅火QQ</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">12</span>
                            </div>
                          </div>
                        </div> 
                      </li>                     
                    </ul>
                    <div class="review-card__send-comment d-flex align-items-center row mt-1 mt-md-2">
                      <div class="col-2 d-none d-md-block">
                        <div class="review-card__comment-user d-flex align-items-center flex-column">
                          <img class="review-card__comment-avartar rounded-circle object-fit-cover" src="../assets/image/home-recommend/woman-profile-1.png" alt="你的頭像">
                        </div>
                      </div>
                      <div class="col-12 col-md-10">
                        <div class="input-group border border-Gray-04">
                          <input type="text" class="review-card__comment-input form-control border-0" placeholder="說點什麼...">
                          <span class="input-group-text py-2 border-0 text-Gray-02 hover-text-primary" role="button"><i class="bi bi-send-fill"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="review-card row" id="review-02">
                  <div class="col-md-2 d-none d-md-block">
                    <div class="review-card__user h-100 d-none d-md-flex flex-column align-items-center justify-content-center">
                      <img class="review-card__avatar rounded-circle mb-2 object-fit-cover d-block" src="https://github.com/LandyHsiao/beauty-hub/blob/develop/assets/image/home-recommend/woman-profile-2.png?raw=true" alt="Kelly♥頭像">
                      <p class="review-card__user-name text-md-center mb-0 hover-text-primary"><a href="#user-page-href">Kelly♥</a></p>
                    </div>
                  </div>
                  <div class="col-12 col-md-10">
                    <div class="review-card__review-area mb-1 mb-md-2">
                      <div class="review-card__header d-flex justify-content-between align-items-md-center flex-wrap">
                        <div class="review-card__header-wrap d-flex d-md-block align-items-center mb-1 mb-md-2">
                          <p class="review-card__title fs-5 fs-md-5 mb-0 fw-medium me-1 me-md-0">還不錯</p>
                          <a href="" class="review-card__user-name d-md-none mb-0 hover-text-primary fs-7 text-Gray-02 align-bottom">Kelly♥</a>
                        </div>
                        <div class="review-card__badge align-bottom d-flex align-items-center">
                          <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary me-1" role="button"></i>
                          <span class="review-card__favorite-num text-primary me-2">4</span>
                          <i class="bi bi-bookmark review-card__badge-bookmark text-secondary hover-text-primary"  role="button"></i>
                        </div>
                      </div>
                      <div class="review-card__body pe-1">
                        <div class="review-card__body-content text-Gray-01 overflow-hidden">
                          <p>我對這款產品印象深刻，它的質地輕盈，迅速被皮膚吸收，即刻為肌膚注入水分，讓肌膚變得柔軟充滿彈性。<br>
                            使用後，不僅肌膚感覺保濕，還有一種清新的愉悅感。<br>
                            無論是作為日常護膚的一環，還是隨身放在包包中補水，都是不可或缺的良品。
                          </p>
                          <img src="https://plus.unsplash.com/premium_photo-1671028545792-f3a4c084f807?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" alt="評論附圖" class="review-card__content-img">
                        </div>
                      </div>
                      <i class="review-card__collapse bi bi-caret-down-fill d-block text-end text-secondary hover-text-primary fs-5 align-bottom lh-sm" role="button" data-bs-toggle="collapse" data-bs-target="#comment-list-2" aria-expanded="false" aria-controls="comment-list-2"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-10 ms-auto">
                    <p class="review-card__comment-area-title mb-2 fs-5 fw-medium text-Gray-02">留言</p>
                    <ul class="review-card__comments list-unstyled collapse mb-2" id="comment-list-2">
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/bni.jpg" alt="咖啡迷頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">咖啡迷</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">真的太愛這款化妝水了！用了幾週，我的皮膚明顯變得更光滑水潤，妝容也更貼服。終於找到一款真正好用的保濕寶藏！</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">6</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/488.jpg" alt="無名旅人頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">無名旅人</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">贊同！使用後肌膚明顯改善，真的很值得一試。</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">1</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="#user-page-href">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/bru.jpg" alt="Shiki頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">Shiki</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">真心覺得找到了理想的護膚好幫手。感謝推薦這個寶物！</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">7</span>
                            </div>
                          </div>
                        </div> 
                      </li>                     
                    </ul>
                    <div class="review-card__send-comment d-flex align-items-center row mt-1 mt-md-2">
                      <div class="col-2 d-none d-md-block">
                        <div class="review-card__comment-user d-flex align-items-center flex-column">
                          <img class="review-card__comment-avartar rounded-circle object-fit-cover" src="../assets/image/home-recommend/woman-profile-1.png" alt="你的頭像">
                        </div>
                      </div>
                      <div class="col-12 col-md-10">
                        <div class="input-group border border-Gray-04">
                          <input type="text" class="review-card__comment-input form-control border-0" placeholder="說點什麼...">
                          <span class="input-group-text py-2 border-0 text-Gray-02 hover-text-primary" role="button"><i class="bi bi-send-fill"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- <ul class="pagination review__pagination justify-content-center justify-content-md-end mb-0">
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-left-fill"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-right-fill"></i></a></li>
              </ul> -->
            </div>
          </div>
          <div class="tab-pane fade h-100 p-0" id="tab-5-pane" role="tabpanel" aria-labelledby="tab-5" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              <form action="" onsubmit="">
                <input name="review" type="hidden">
                <div id="scrolling-container" class="scrolling-container">
                  <div id="editor" class="editor">
                  </div>
                </div>
                <button class="review-submit btn btn-primary d-block mx-auto mt-4 px-md-18 w-100" name="review" type="submit">發表</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        
  </section>
  <%- include('./layout/footer.ejs'); -%>
  <%- include('./layout/header_search_jq.ejs'); -%>
  <script type="module" src="../main.js"></script>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script>
    // initialize text editor
    var quill = new Quill('#editor', {
      scrollingContainer: '#scrolling-container',
      modules: {
        toolbar: [
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }, { 'color': [] }, 'bold', 'italic'],
          ['link', 'image',{ list: 'ordered' }, { list: 'bullet' }],
          ['clean']
        ]
      },
      placeholder: '發表你的獨家心得...',
      theme: 'snow'
    });

    // expand review card's comments
    $(".review-card__collapse").on( "click", function() {
      $(".review__pagination").toggleClass("hidden");
      $(".review-card").toggleClass("hidden");
      $(this).parents(".review-card").removeClass("hidden");
      $(this).parents(".review-card").toggleClass("active");
      $(".review-card__comment-area-title").toggleClass("active");
      $(".review-card__content-img").toggleClass("active");
    });

    // active review card's favorite & bookmark button
    $(".review-card__badge-heart").on( "click", function() {
      $(this).toggleClass("bi-heart");
      $(this).toggleClass("bi-heart-fill");
    });
    $(".review-card__badge-bookmark").on( "click", function() {
      $(this).toggleClass("bi-bookmark");
      $(this).toggleClass("bi-bookmark-fill");
    });

    // toggle expand button
    $(".review-card__collapse").on( "click", function() {
      $(this).toggleClass("bi-caret-down-fill");
      $(this).toggleClass("bi-caret-up-fill");
    });
  </script>
</body>
</html>