<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>絲柔粉霧唇膏 - BeautyHub</title>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <%- include('./layout/seo-favicon.ejs'); -%>
</head>
<body>
  <%- include('./layout/header.ejs',{page: "product" }); -%>
  <div class="container-sm mb-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./index.html">首頁</a></li>
        <li class="breadcrumb-item"><a href="./search.html">產品</a></li>
        <li class="breadcrumb-item active" aria-current="page">絲柔粉霧唇膏</li>
      </ol>
    </nav>
  </div>
  <section class="prodcut-intro container-sm py-12">
    <div class="row">
      <div class="col-10 col-sm-8 col-md-6 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="prodcut-intro__logo-wrap mx-auto ms-xl-auto mb-4 mb-md-0 hover-scale-img">
              <img src="../assets/image/home-ranking/lip-01.webp" alt="產品圖片" class="prodcut-intro__logo-img mw-100">
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="prodcut-intro__main mb-0 mb-md-6 d-flex flex-column-reverse flex-md-column text-center text-lg-start">
              <a href="./brand.html" class="prodcut-intro__brand-link mb-0 mb-md-1 hover-text-primary">M.A.C</a>
              <h2 class="h5 fs-md-4 fs-lg-3 mb-1 mb-md-1">絲柔粉霧唇膏</h2>
            </div>
            <ul class="prodcut-intro__tag-list list-unstyled d-none d-lg-flex flex-wrap justify-content-center justify-content-md-start">
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 d-inline-block rounded-pill ls-h fs-7">不易掉色</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">霧面</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">遮蓋唇色</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">好卸</span></li>
              <li class="prodcut-intro__tag-list-item"><span class="badge prodcut-intro__tag bg-Background-S2 rounded-pill ls-h fs-7">維他命E</span></li>
            </ul>
            <button class="product-intro__bookmark-btn btn btn-outline-primary d-block m-auto ms-lg-0 mt-5">收藏此產品</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product_detail container-md mb-15 mb-md-30">
    <div class="row mb-0">
      <div class="col-12 col-lg-10 mx-auto ">
        <ul class="nav nav-tabs text-center m-auto mb-0" id="myTab" role="tablist">
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="active d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-1" data-bs-toggle="tab" data-bs-target="#tab-1-pane" type="button" role="tab" aria-controls="tab-1-pane" aria-selected="true">介紹</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-2" data-bs-toggle="tab" data-bs-target="#tab-2-pane" type="button" role="tab" aria-controls="tab-2-pane" aria-selected="false">資訊</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-3" data-bs-toggle="tab" data-bs-target="#tab-3-pane" type="button" role="tab" aria-controls="tab-3-pane" aria-selected="false">成分</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-4" data-bs-toggle="tab" data-bs-target="#tab-4-pane" type="button" role="tab" aria-controls="tab-4-pane" aria-selected="false">評論</a>
          </li>
          <li class="nav-item flex-grow-1" role="presentation">
            <a class="d-block py-4 fw-medium text-Gray-02 border-bottom border-2 border-Secondary-light h6 mb-0 lh-sm" id="tab-5" data-bs-toggle="tab" data-bs-target="#tab-5-pane" type="button" role="tab" aria-controls="tab-5-pane" aria-selected="false">發表</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="tab-content m-auto" id="myTabContent">
          <div class="tab-pane fade show active" id="tab-1-pane" role="tabpanel" aria-labelledby="tab-1" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2 text-justify">
              <img src="https://www.maccosmetics.com.tw/media/export/cms/PKLL1.jpg" alt="產品介紹圖片" class="product-intro-img">
              <img src="https://www.maccosmetics.com.tw/media/export/cms/PKLL3.jpg" alt="產品介紹圖片" class="product-intro-img">
            </div>
          </div>
          <div class="tab-pane fade" id="tab-2-pane" role="tabpanel" aria-labelledby="tab-2" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2 text-justify">
              <p>慕斯質感霧面唇膏，富含維他命e美唇精華，絲滑綿密、極致保濕，能柔焦唇紋，為雙唇套上柔霧美唇濾鏡。極度滋潤、舒適無感的輕盈質地，中度的顯色力可以自由疊擦，創造出咬唇般的暈染妝效。</p>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-3-pane" role="tabpanel" aria-labelledby="tab-3" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              <ul class="list-group chemical-list d-flex chemical-list-numbered gy-2 gy-sm-0">
                <li class="list-group-item chemical-list__item chemical-list__head bg-Primary-light d-none d-sm-flex">
                  <p class="en-name mb-0 w-sm-30">英文</p>
                  <p class="name mb-0 w-sm-30">中文</p>
                  <p class="intro mb-0 w-sm-30">概要</p>
                  <p class="link-out mb-0 w-10 text-center">介紹</p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Octyldodecanol</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">辛基十二烷醇, 辛基十二醇</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">溶劑, 香料, 乳化劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/fa0339967.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/fa0339967.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Ricinus Communis Seed Oil</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">蓖麻油, 蓖麻籽油</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">香料, 肌膚調理, 保溼, 油性滋潤, 柔潤劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/d1c67496.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/d1c67496.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Silica</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">矽石, 石英, 二氧化矽</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">黏度控制</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/ba9fb8339.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/ba9fb8339.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Tricaprylyl citrate</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">檸檬酸三辛酯</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">柔潤劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/5876902791.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/5876902791.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Ozokerite</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">礦蠟, 地蠟, 白地蠟, 純地蠟</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">黏度控制, 抗靜電</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/3e4f37100.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/3e4f37100.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Isononyl Isononanoate</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">異壬酸異壬酯, 蠶絲油</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">合成酯, 抗靜電, 柔潤劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/452d3e1111.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/452d3e1111.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Paraffin</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">石蠟, 石臘</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">黏度控制, 肌膚調理</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/67f50e294.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/67f50e294.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Phenyl Trimethicone</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">苯基三甲基聚矽氧烷, 苯基聚三甲基矽氧烷</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">抗靜電</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/7f6ff01210.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/7f6ff01210.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Microcrystalline Wax</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">微晶蠟</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">黏度控制</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/d762ca262.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/d762ca262.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Ethylhexyl Palmitate</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">棕櫚酸異辛酯, 棕櫚酸乙基己酯, 棕櫚酸鹽</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">溶劑, 香料, 合成酯, 柔潤劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/f981541037.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/f981541037.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Caprylic/CapricTriglycerides</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">辛酸/癸酸三酸甘油酯, 辛酸/癸酸甘油三酯, 三辛酸葵酸甘油酯, 辛酸/葵酸三甘油酯, 辛酸/葵酸甘油三酯</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">香料, 肌膚調理</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/d82eb289.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/d82eb289.html"></a>
                  </p>
                </li>
                <li class="list-group-item chemical-list__item d-flex flex-column flex-sm-row align-items-sm-center position-relative px-2 px-sm-0">
                  <div class="chemical-list__wrap-info d-sm-flex w-sm-90">
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">英文</p>
                      <p class="chemical-list__en-name mb-0 text-break px-sm-2">Copernicia Cerifera wax</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">中文</p>
                      <p class="chemical-list__name mb-0 px-sm-2">棕櫚蠟, 巴西蠟</p>
                    </div>
                    <div class="chemical-list__wrap-content mb-2 mb-sm-0">
                      <p class="chemical-list__label mb-0 d-sm-none fs-8 text-Gray-02">概要</p>
                      <p class="chemical-list__intro mb-0 px-sm-2">柔潤劑</p>
                    </div>
                  </div>
                  <p class="chemical-list__link-out fs-7 fs-sm-6 mb-0 w-sm-10 align-top px-sm-2 text-center d-flex justify-content-end justify-content-sm-center">
                    <a class="d-sm-none chemical-list__link-text hover-text-primary d-flex" target="_blank" href="https://www.cosdna.com/cht/71b24893.html">詳細資訊<span class="bi bi-arrow-up-right text-center d-block align-middle hover-text-primary ms-1"></span></a>
                    <a class="bi bi-arrow-up-right text-center d-none d-sm-block align-middle hover-text-primary" target="_blank" href="https://www.cosdna.com/cht/71b24893.html"></a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-4-pane" role="tabpanel" aria-labelledby="tab-4" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              <ul class="review-cards list-unstyled">
                <li class="review-card row" id="review-01">
                  <div class="col-md-2 d-none d-md-block">
                    <div class="review-card__user h-100 d-none d-md-flex flex-column align-items-center justify-content-center">
                      <img class="review-card__avatar rounded-circle mb-2 object-fit-cover d-block" src="https://cdn2.thecatapi.com/images/8ud.jpg" alt="咩嘎聶頭像">
                      <p class="review-card__user-name text-md-center mb-0 hover-text-primary"><a href="./member_open_page.html">咩嘎聶</a></p>
                    </div>
                  </div>
                  <div class="col-12 col-md-10">
                    <div class="review-card__review-area mb-1 mb-md-2">
                      <div class="review-card__header d-flex justify-content-between align-items-md-center flex-wrap">
                        <div class="review-card__header-wrap d-flex d-md-block align-items-center mb-1 mb-md-2">
                          <p class="review-card__title fs-5 fs-md-5 mb-0 fw-medium me-1 me-md-0">超 級 好 用</p>
                          <a href="" class="review-card__user-name d-md-none mb-0 hover-text-primary fs-7 text-Gray-02 align-bottom">咩嘎聶</a>
                        </div>
                        <div class="review-card__badge align-bottom d-flex align-items-center">
                          <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary me-1" role="button"></i>
                          <span class="review-card__favorite-num text-primary me-2">12</span>
                          <i class="bi bi-bookmark review-card__badge-bookmark text-secondary hover-text-primary"  role="button"></i>
                        </div>
                      </div>
                      <div class="review-card__body pe-1">
                        <div class="review-card__body-content text-Gray-01 overflow-hidden">
                          <p>這款唇膏真是太令人驚艷了！它不僅色澤豐富、持久，而且質地柔軟，讓我的嘴唇感覺非常舒適。它的顏色選擇也相當多樣化，無論是日常妝容還是特殊場合，都能找到合適的色調。更重要的是，它不會讓嘴唇感到乾燥或粘膩，相反，它為我的嘴唇帶來了滋潤和保護，讓它們看起來更加飽滿和健康。我真的非常喜歡這款唇膏，它已經成為我的日常妝容必備品，我強烈推薦給所有喜愛唇部彩妝的人！</p>
                        </div>
                      </div>
                      <i class="review-card__collapse bi bi-caret-down-fill d-block text-end text-secondary hover-text-primary fs-5 align-bottom lh-sm" role="button" data-bs-toggle="collapse" data-bs-target="#comment-list-1" aria-expanded="false" aria-controls="comment-list-1"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-10 ms-auto">
                    <p class="review-card__comment-area-title mb-2 fs-5 fw-medium text-Gray-02">留言</p>
                    <ul class="review-card__comments list-unstyled collapse mb-2" id="comment-list-1">
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="./member_open_page.html">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="../assets/image/home-recommend/woman-profile-2.png" alt="Kelly♥頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">Kelly♥</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">萬年不敗子彈唇膏</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">51</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="./member_open_page.html">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/ae1.jpg" alt="貝貝魯多頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">貝貝魯多</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">口紅加維他命E可以幹嘛???</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">2</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="./member_open_page.html">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="../assets/image/home-recommend/woman-profile-1.png" alt="梅子綠那頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">梅子綠</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">最讚的是這支是霧面的卻不會太乾，在持久度跟保濕度上取得了完美平衡</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">16</span>
                            </div>
                          </div>
                        </div> 
                      </li> 
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="./member_open_page.html">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/eb0.jpg" alt="AlwaysVim頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">AlwaysVim</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">樓主好人一生平安</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">0</span>
                            </div>
                          </div>
                        </div> 
                      </li>                     
                    </ul>
                    <div class="review-card__send-comment d-flex align-items-center row mt-1 mt-md-2">
                      <div class="col-2 d-none d-md-block">
                        <div class="review-card__comment-user d-flex align-items-center flex-column">
                          <img class="review-card__comment-avartar rounded-circle object-fit-cover" src="../assets/image/home-recommend/woman-profile-1.png" alt="你的頭像">
                        </div>
                      </div>
                      <div class="col-12 col-md-10">
                        <div class="input-group border border-Gray-04">
                          <input type="text" class="review-card__comment-input form-control border-0" placeholder="說點什麼...">
                          <span class="input-group-text py-2 border-0 text-Gray-02 hover-text-primary" role="button"><i class="bi bi-send-fill"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="review-card row" id="review-02">
                  <div class="col-md-2 d-none d-md-block">
                    <div class="review-card__user h-100 d-none d-md-flex flex-column align-items-center justify-content-center">
                      <img class="review-card__avatar rounded-circle mb-2 object-fit-cover d-block" src="https://cdn2.thecatapi.com/images/8rp.jpg" alt="AtomIsBest頭像">
                      <p class="review-card__user-name text-md-center mb-0 hover-text-primary"><a href="./member_open_page.html">AtomIsBest</a></p>
                    </div>
                  </div>
                  <div class="col-12 col-md-10">
                    <div class="review-card__review-area mb-1 mb-md-2">
                      <div class="review-card__header d-flex justify-content-between align-items-md-center flex-wrap">
                        <div class="review-card__header-wrap d-flex d-md-block align-items-center mb-1 mb-md-2">
                          <p class="review-card__title fs-5 fs-md-5 mb-0 fw-medium me-1 me-md-0">顏色超多的高CP值專櫃唇膏首選</p>
                          <a href="" class="review-card__user-name d-md-none mb-0 hover-text-primary fs-7 text-Gray-02 align-bottom">AtomIsBest</a>
                        </div>
                        <div class="review-card__badge align-bottom d-flex align-items-center">
                          <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary me-1" role="button"></i>
                          <span class="review-card__favorite-num text-primary me-2">3</span>
                          <i class="bi bi-bookmark review-card__badge-bookmark text-secondary hover-text-primary"  role="button"></i>
                        </div>
                      </div>
                      <div class="review-card__body pe-1">
                        <div class="review-card__body-content text-Gray-01 overflow-hidden">
                          <p>這款唇膏的質地非常柔軟，輕易地滑過嘴唇，不會有不適感或刺激感。它的應用非常平滑，而且均勻，讓嘴唇看起來非常光滑。更棒的是，它有一種輕盈的質地，不會讓嘴唇感到沉重或黏膩。</p>
                          <p>顏色方面，這款唇膏真的是多種多樣。無論您是喜歡自然妝容還是大膽的時尚風格，都可以找到合適的色調。我特別喜歡它的顏色飽和度，無論是淺色還是深色，都能展現出飽滿的色彩，而且一次塗抹就足夠了，不需要反複上色。</p>
                          <img src="https://plus.unsplash.com/premium_photo-1671028545792-f3a4c084f807?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" alt="評論附圖" class="review-card__content-img">
                        </div>
                      </div>
                      <i class="review-card__collapse bi bi-caret-down-fill d-block text-end text-secondary hover-text-primary fs-5 align-bottom lh-sm" role="button" data-bs-toggle="collapse" data-bs-target="#comment-list-2" aria-expanded="false" aria-controls="comment-list-2"></i>
                    </div>
                  </div>
                  <div class="col-12 col-md-10 ms-auto">
                    <p class="review-card__comment-area-title mb-2 fs-5 fw-medium text-Gray-02">留言</p>
                    <ul class="review-card__comments list-unstyled collapse mb-2" id="comment-list-2">
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="./member_open_page.html">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="../assets/image/home-recommend/woman-profile-5.png" alt="回眸親頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">回眸親</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">我剛出社會第一隻專櫃唇膏就是這隻，當年買了超紅的chilli，真的是很好用又百搭，還很顯白，推推</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">34</span>
                            </div>
                          </div>
                        </div> 
                      </li>
                      <li class="review-card__comment d-flex row py-1">
                        <div class="col-12 col-md-2">
                          <a class="review-card__comment-user d-flex flex-row flex-md-column align-items-center overflow-hidden mb-1 mb-md-0" href="./member_open_page.html">
                            <img class="review-card__comment-avartar overflow-hiddnen rounded-circle object-fit-cover me-1 me-md-0" src="https://cdn2.thecatapi.com/images/2k6.jpg" alt="カゲロウデイズ頭像">
                            <span class="review-card__commment-user-name mb-0 fs-7 text-nowrap overflow-hidden text-start hover-text-primary">カゲロウデイズ</span>
                          </a>
                        </div>
                        <div class="col-md-10">
                          <div class="review-card__comment-content-wrap d-flex">
                            <p class="review-card__comment-content mb-0 flex-grow-1 text-Gray-02">有推薦的色號嗎～～～選擇障礙啦～～～</p>
                            <div class="review-card__comment-badge align-bottom d-flex align-items-center align-self-start">
                              <i class="bi bi-heart review-card__badge-heart text-secondary hover-text-primary" role="button"></i>
                              <span class="review-card__comment-favorite-num text-primary ms-1">6</span>
                            </div>
                          </div>
                        </div> 
                      </li>                    
                    </ul>
                    <div class="review-card__send-comment d-flex align-items-center row mt-1 mt-md-2">
                      <div class="col-2 d-none d-md-block">
                        <div class="review-card__comment-user d-flex align-items-center flex-column">
                          <img class="review-card__comment-avartar rounded-circle object-fit-cover" src="../assets/image/home-recommend/woman-profile-1.png" alt="你的頭像">
                        </div>
                      </div>
                      <div class="col-12 col-md-10">
                        <div class="input-group border border-Gray-04">
                          <input type="text" class="review-card__comment-input form-control border-0" placeholder="說點什麼...">
                          <span class="input-group-text py-2 border-0 text-Gray-02 hover-text-primary" role="button"><i class="bi bi-send-fill"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- <ul class="pagination review__pagination justify-content-center justify-content-md-end mb-0">
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-left-fill"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="bi bi-caret-right-fill"></i></a></li>
              </ul> -->
            </div>
          </div>
          <div class="tab-pane fade h-100 p-0" id="tab-5-pane" role="tabpanel" aria-labelledby="tab-5" tabindex="0">
            <div class="tab-pane-content min-vh-25 py-4 px-2">
              <form action="" onsubmit="">
                <input name="review" type="hidden">
                <div id="scrolling-container" class="scrolling-container">
                  <div id="editor" class="editor">
                  </div>
                </div>
                <button class="review-submit btn btn-primary d-block mx-auto mt-4 px-md-18 w-100" name="review" type="submit">發表</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        
  </section>
  <%- include('./layout/footer.ejs'); -%>
  <%- include('./layout/header_search_jq.ejs'); -%>
  <script type="module" src="../main.js"></script>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script>
    // initialize text editor
    var quill = new Quill('#editor', {
      scrollingContainer: '#scrolling-container',
      modules: {
        toolbar: [
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }, { 'color': [] }, 'bold', 'italic'],
          ['link', 'image',{ list: 'ordered' }, { list: 'bullet' }],
          ['clean']
        ]
      },
      placeholder: '發表你的獨家心得...',
      theme: 'snow'
    });

    // expand review card's comments
    $(".review-card__collapse").on( "click", function() {
      $(".review__pagination").toggleClass("hidden");
      $(".review-card").toggleClass("hidden");
      $(this).parents(".review-card").removeClass("hidden");
      $(this).parents(".review-card").toggleClass("active");
      $(".review-card__comment-area-title").toggleClass("active");
      $(".review-card__content-img").toggleClass("active");
    });

    // active review card's favorite & bookmark button
    $(".review-card__badge-heart").on( "click", function() {
      $(this).toggleClass("bi-heart");
      $(this).toggleClass("bi-heart-fill");
    });
    $(".review-card__badge-bookmark").on( "click", function() {
      $(this).toggleClass("bi-bookmark");
      $(this).toggleClass("bi-bookmark-fill");
    });

    // toggle expand button
    $(".review-card__collapse").on( "click", function() {
      $(this).toggleClass("bi-caret-down-fill");
      $(this).toggleClass("bi-caret-up-fill");
    });

    // toggle state of product bookmark btn
    $(".product-intro__bookmark-btn.btn-outline-primary").on( "click", function() {
      if ($(".product-intro__bookmark-btn").hasClass("btn-outline-primary")) {
        $(this).text("已收藏");
        $(this).removeClass("btn-outline-primary");
        $(this).addClass("btn-primary");
      }
      else {
        $(this).text("收藏此產品");
        $(this).removeClass("btn-primary");
        $(this).addClass("btn-outline-primary");
      }
    });
  </script>
</body>
</html>