<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BeautyHub 搜尋</title>
    <%- include('./layout/seo-favicon.ejs'); -%>
</head>

<body>
    <%- include('./layout/header-other.ejs',{page: "search" }); -%>
        <div class="container ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fs-md-6 fs-8"><a href="index.html">首頁</a></li>
                    <li class="breadcrumb-item fs-md-6 fs-8 active" aria-current="page">搜尋</li>
                </ol>
            </nav>
            <div class="row mb-md-30 mb-105">
                <div class="col-lg-4 col-12">
                    <div class="border border-1 border-primary py-md-9 px-md-6 p-5 mb-md-0 mb-4 h-100">
                        <form action="" class="mb-lg-11 mb-0">
                            <h1
                                class="test-Gray-01 pb-md-12 pb-6 ff-cg fs-md-3 fs-5 m-0 fw-md-bolder fw-bold lh-sm px-1">
                                搜尋
                            </h1>
                            <div class="w__select-md">
                                <div class="d-flex mb-3 px-1">
                                    <select class="form-select form-select-sm p-0 py-1 border-0 w-50">
                                        <option selected>品牌</option>
                                        <option value="1">產品</option>
                                        <option value="2">分類</option>
                                    </select>
                                    <input type="text" class="form-control py-1"
                                        aria-label="Text input dropdown button">
                                </div>
                            </div>
                            <hr class="text-primary mb-md-9 mb-5">
                            <h2
                                class="test-Gray-01 pb-md-12 pb-6 ff-cg fs-md-3 fs-5 m-0 fw-md-bolder fw-bold lh-sm px-1">
                                篩選
                            </h2>
                            <select class="form-select form-select-sm px-1 py-1 border-0 w-50 mb-3 mx-auto"
                                aria-label="Default select example">
                                <option selected>分類</option>
                                <option value="1">化妝品</option>
                                <option value="2">保養品</option>
                                <option value="3">成分</option>
                            </select>
                            <select class="form-select form-select-sm px-1 py-1 border-0 mb-3 w-50 mx-auto"
                                aria-label="Default select example">
                                <option selected>品牌</option>
                                <option value="1">heme</option>
                                <option value="2">YSL</option>
                                <option value="3">&be</option>
                            </select>
                            <select class="form-select form-select-sm px-1 py-1 border-0 mb-3 w-50 mx-auto"
                                aria-label="Default select example">
                                <option selected>通路</option>
                                <option value="1">屈城市</option>
                                <option value="2">康是美</option>
                                <option value="3">寶雅</option>
                            </select>
                            <hr class="text-primary mb-3">
                            <div class="text-center">
                                <botton type="submit"
                                    class="btn btn-outline-primary d-inline-block fs-lg-6 fs- ff-nst flex-nowrap">
                                    搜尋
                                </botton>
                            </div>
                        </form>
                        <h2
                            class="test-Gray-01 pb-md-12 pb-6 ff-cg fs-md-3 fs-5 m-0 fw-md-bolder fw-bold lh-sm px-1 d-lg-block d-none">
                            列表
                        </h2>
                        <div class="d-lg-block d-none px-1 d-flex flex-column">
                            <ol class="list-unstyled d-flex">
                                <li
                                    class="test-Gray-01 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">眉彩</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">眉筆</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">眉粉</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2 d-lg-block d-none">
                                    <a href="#">染眉膏</a>
                                </li>
                            </ol>
                            <ol class="list-unstyled d-flex">
                                <li
                                    class="test-Gray-01 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">眼線</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">眼線筆</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">眼線液</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2 d-lg-block d-none">
                                    <a href="#">眼線膠</a>
                                </li>
                            </ol>
                            <ol class="list-unstyled d-flex">
                                <li
                                    class="test-Gray-01 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">眼影</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">眼影盤</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2 d-lg-block d-none">
                                    <a href="#">眼影膏</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2 d-lg-block d-none">
                                    <a href="#">眼影筆</a>
                                </li>
                                <!-- <li
                                    class="text-Gray-02 fs-md-6 fs-8 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">眼影蜜</a>
                                </li> -->
                            </ol>
                            <ol class="list-unstyled d-flex">
                                <li
                                    class="test-Gray-01 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">睫毛</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">睫毛膏</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2 d-lg-block d-none">
                                    <a href="#">睫毛底膏</a>
                                </li>
                                <!-- <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2 d-lg-block d-none">
                                    <a href="#">睫毛定型</a>
                                </li> -->
                            </ol>
                            <ol class="list-unstyled d-flex flex-grow-1">
                                <li
                                    class="test-Gray-01 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">頰彩</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">腮紅</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2">
                                    <a href="#">腮紅霜</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-offset-2 d-lg-block d-none">
                                    <a href="#">氣墊腮紅</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-lg-8 col-12">
                    <div class="py-md-9 ps-lg-6 py-15 ps-0 mb-md-0 mb-4">
                        <h2 class="test-Gray-01 pb-md-12 pb-6 ff-cg fs-md-3 fs-5 m-0 fw-md-bolder fw-bold lh-sm px-1">結果
                        </h2>
                        <div class="row gx-6 gy-4">
                            <div class="col-lg-6 col-12 d-flex flex-column">
                                <a href="product_01.html" class="d-flex flex-column flex-grow-1">
                                    <div
                                        class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
                                        <div class="search__item--block">
                                            <img src="../assets/image/hot-img-05.png" class="search__item--img"
                                                alt="Forest Beauty 森果紅石榴多酚凍齡精華">
                                        </div>
                                        <div class="card-body text-center">
                                            <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">森果紅石榴多酚凍齡精華</h2>
                                            <a href="brand.html">
                                                <span
                                                    class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                                                    Forest Beauty
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-12 d-flex flex-column">
                                <a href="product_01.html" class="d-flex flex-column flex-grow-1">
                                    <div
                                        class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
                                        <div class="search__item--block">
                                            <img src="../assets/image/hot-img-06.jpg" class="search__item--img"
                                                alt="Forest Beauty 森果紅石榴多酚凍齡精華">
                                        </div>
                                        <div class="card-body text-center d-flex flex-column">
                                            <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4 ">舒敏保濕化妝水</h2>
                                            <a href="brand.html">
                                                <span
                                                    class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                                                    Paula's Choice
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-12 d-flex flex-column">
                                <a href="product_01.html" class="d-flex flex-column flex-grow-1">
                                    <div
                                        class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
                                        <div class="search__item--block">
                                            <img src="../assets/image/hot-img-07.jpg" class="search__item--img"
                                                alt="Forest Beauty 森果紅石榴多酚凍齡精華">
                                        </div>
                                        <div class="card-body text-center">
                                            <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">秘之湧天堂之泉ALLDAY SPA
                                            </h2>
                                            <a href="brand.html">
                                                <span
                                                    class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                                                    Oguma水美媒
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-12 d-flex flex-column">
                                <a href="product_01.html" class="d-flex flex-column flex-grow-1">
                                    <div
                                        class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
                                        <div class="search__item--block">
                                            <img src="../assets/image/hot-img-08.jpg" class="search__item--img"
                                                alt="Forest Beauty 森果紅石榴多酚凍齡精華">
                                        </div>
                                        <div class="card-body text-center">
                                            <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">芯生悠賦活化妝水</h2>
                                            <a href="brand.html">
                                                <span
                                                    class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                                                    Orbis
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-12 d-flex flex-column">
                                <a href="product_01.html" class="d-flex flex-column flex-grow-1">
                                    <div
                                        class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
                                        <div class="search__item--block">
                                            <img src="../assets/image/hot-img-09.jpeg" class="search__item--img"
                                                alt="Forest Beauty 森果紅石榴多酚凍齡精華">
                                        </div>
                                        <div class="card-body text-center">
                                            <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">超級精華 黃金雙激萃</h2>
                                            <a href="brand.html">
                                                <span
                                                    class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                                                    Clarins 克蘭詩
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-12 d-flex flex-column">
                                <a href="product_01.html" class="d-flex flex-column flex-grow-1">
                                    <div
                                        class="card p-5 bg-white d-flex align-items-center justify-content-center overflow-hidden flex-column flex-grow-1">
                                        <div class="search__item--block">
                                            <img src="../assets/image/hot-img-10.webp" class="search__item--img"
                                                alt="Forest Beauty 森果紅石榴多酚凍齡精華">
                                        </div>
                                        <div class="card-body text-center">
                                            <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">B5彈潤修復精華</h2>
                                            <a href="brand.html">
                                                <span
                                                    class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8 ls-sm-h">
                                                    La Roche-Posay
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <ul class="pagination mt-md-17 mt-105 justify-content-end mb-0">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <!-- <span aria-hidden="true">&laquo;</span> -->
                                        <i class="bi bi-caret-left-fill"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <!-- <span aria-hidden="true">&raquo;</span> -->
                                        <i class="bi bi-caret-right-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./layout/footer.ejs'); -%>
            <%- include('./layout/header_search_jq.ejs'); -%>
                <script type="module" src="../main.js"></script>
</body>

</html>