<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BeautyHub</title>
</head>

<body>
    <%- include('./layout/header-other.ejs',{page: "search" }); -%>
        <div class="container ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item test-Gray-01 fs-md-6 fs-8"><a href="index.html">首頁</a></li>
                    <li class="breadcrumb-item text-Gray-02 fs-md-6 fs-8" aria-current="page">搜尋</li>
                </ol>
            </nav>
            <div class="row mb-md-30 mb-105">
                <div class="col-md-4">
                    <div class="border border-1 border-primary py-md-9 px-md-6 p-5 mb-md-0 mb-4">
                        <form action="" class="mb-md-11 mb-0">
                            <h1
                                class="test-Gray-01 pb-md-12 pb-6 ff-cg fs-md-3 fs-5 m-0 fw-md-bolder fw-bold lh-sm px-1">
                                搜尋
                            </h1>
                            <div class="w__select-md">
                                <div class="input-group mb-3 px-1">
                                    <select class="form-select form-select-sm p-0 py-1 border-0">
                                        <option selected>品牌</option>
                                        <option value="1">產品</option>
                                        <option value="2">分類</option>
                                    </select>
                                    <input type="text"
                                        class="form-control py-1 border-0 border-bottom border-primary w-25"
                                        aria-label="Text input dropdown button">
                                </div>
                            </div>
                            <hr class="text-primary mb-md-9 mb-5">
                            <h2
                                class="test-Gray-01 pb-md-12 pb-6 ff-cg fs-md-3 fs-5 m-0 fw-md-bolder fw-bold lh-sm px-1">
                                篩選
                            </h2>
                            <select class="form-select form-select-sm px-1 py-1 border-0 mb-3"
                                aria-label="Default select example">
                                <option selected>分類</option>
                                <option value="1">化妝品</option>
                                <option value="2">保養品</option>
                                <option value="3">成分</option>
                            </select>
                            <select class="form-select form-select-sm px-1 py-1 border-0 mb-3"
                                aria-label="Default select example">
                                <option selected>品牌</option>
                                <option value="1">heme</option>
                                <option value="2">YSL</option>
                                <option value="3">&be</option>
                            </select>
                            <select class="form-select form-select-sm px-1 py-1 border-0 mb-3"
                                aria-label="Default select example">
                                <option selected>通路</option>
                                <option value="1">屈城市</option>
                                <option value="2">康是美</option>
                                <option value="3">寶雅</option>
                            </select>
                            <hr class="text-primary mb-3">
                            <div class="text-center">
                                <botton type="submit"
                                    class="btn btn-outline-primary py-md-4 px-lg-18 px-md-9 py-2 d-inline-block w-lg-50 fs-lg-6 fs- ff-nst">
                                    搜尋</botton>
                            </div>
                        </form>
                        <h2
                            class="test-Gray-01 pb-md-12 pb-6 ff-cg fs-md-3 fs-5 m-0 fw-md-bolder fw-bold lh-sm px-1 d-md-block d-none">
                            列表
                        </h2>
                        <div class="d-md-block d-none px-1">
                            <ol class="list-unstyled d-flex">
                                <li
                                    class="test-Gray-01 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">眉彩</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">眉筆</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">眉粉</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover d-lg-block d-none">
                                    <a href="#">染眉膏</a>
                                </li>
                            </ol>
                            <ol class="list-unstyled d-flex">
                                <li
                                    class="test-Gray-01 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">眼線</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">眼線筆</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">眼線液</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover d-lg-block d-none">
                                    <a href="#">眼線膠</a>
                                </li>
                            </ol>
                            <ol class="list-unstyled d-flex">
                                <li
                                    class="test-Gray-01 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">眼影</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">眼影盤</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover d-lg-block d-none">
                                    <a href="#">眼影膏</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover d-lg-block d-none">
                                    <a href="#">眼影筆</a>
                                </li>
                                <!-- <li
                                    class="text-Gray-02 fs-md-6 fs-8 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">眼影蜜</a>
                                </li> -->
                            </ol>
                            <ol class="list-unstyled d-flex">
                                <li
                                    class="test-Gray-01 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">睫毛</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">睫毛膏</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover d-lg-block d-none">
                                    <a href="#">睫毛底膏</a>
                                </li>
                                <!-- <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover d-lg-block d-none">
                                    <a href="#">睫毛定型</a>
                                </li> -->
                            </ol>
                            <ol class="list-unstyled d-flex">
                                <li
                                    class="test-Gray-01 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">頰彩</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">腮紅</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    <a href="#">腮紅霜</a>
                                </li>
                                <li
                                    class="text-Gray-02 fs-md-6 fs-8 me-2 text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-75-hover d-lg-block d-none">
                                    <a href="#">氣墊腮紅</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-8">
                    <div class="py-md-9 px-md-6 p-5 mb-md-0 mb-4">
                        <h2 class="test-Gray-01 pb-md-12 pb-6 ff-cg fs-md-3 fs-5 m-0 fw-md-bolder fw-bold lh-sm px-1">結果
                        </h2>
                        <div class="row">
                            <div class="col-lg-6 col-12 d-flex flex-column">
                                <a href="#" class="d-flex flex-column flex-grow-1">
                                    <div
                                        class="card p-5 bg-white d-flex align-items-center justify-content-center ov-h flex-column flex-grow-1 box__sd">
                                        <div class="topRanking__item--block">
                                            <img src="../assets/image/hot-img-05.png" class="topRanking__item--img"
                                                alt="Forest Beauty 森果紅石榴多酚凍齡精華">
                                        </div>
                                        <div class="card-body text-center">
                                            <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">森果紅石榴多酚凍齡精華</h2>
                                            <span
                                                class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8">
                                                Forest Beauty
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-6  col-12 d-flex flex-column">
                                <a href="#" class="d-flex flex-column flex-grow-1">
                                    <div
                                        class="card p-5 bg-white d-flex align-items-center justify-content-center ov-h flex-column flex-grow-1">
                                        <div class="topRanking__item--block">
                                            <img src="../assets/image/hot-img-05.png" class="topRanking__item--img"
                                                alt="Forest Beauty 森果紅石榴多酚凍齡精華">
                                        </div>
                                        <div class="card-body text-center">
                                            <h2 class="card-title ff-nst fs-md-5 fs-6 fw-medium mb-4">森果紅石榴多酚凍齡精華</h2>
                                            <span
                                                class="card-text text-primary text-center bg-Background-S2 rounded-pill d-line-block px-6 py-2 ff-nst fs-md-7 fs-8">
                                                Forest Beauty
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./layout/footer.ejs'); -%>
            <%- include('./layout/header_search_jq.ejs'); -%>
                <script type="module" src="../main.js"></script>
</body>

</html>